.postnav { 
	display: block;
	width: 100%;
	margin: 15px 0 35px;
	float: left;

	&__older a, 
	&__newer a {
		display: inline-block;
		float: left;
		width: 100%;
		text-align: center;
		border: 1px solid;
		color: #222;
		border-radius: 3px;
		margin: 0 0 15px;
		padding: 0;
		line-height: 2.5;
		height: 2.5em;
		text-decoration: none;
		transition: all 0.35s ease-in;


		@media (min-width: 600px) {
			width: auto;
			margin: 0;
			padding: 0 20px;
		}

		&:hover {
			transition: all 0.15s ease-out;
			color: $nav-blue;
		}
	}

	&__newer a { 
		float: right;
	}
}