


.post-nav {
	max-width: 630px;
	width: 80%; 
	
	display: block;
	clear: both;
	overflow: hidden;

	margin: $global-margin*2 auto $global-margin;
	padding-top: $global-margin;
	border-top: 1px solid $black;
}

.post-nav a {
	text-decoration: none;
	width: 100%;
	float: left;
	margin: 0 0 50px;

	@media (min-width: 440px) {
		width: 50%;
	}

	@media (min-width: 768px) {
		width: 25%;
	}

	&:hover {
		color: $green;
	}
}

.post-nav .post-nav-next {
	float: right;
}

.post-nav span {
	display: block;
	float: left;
	width: 100%,
}

.post-nav h2 {
	float: left;
	display: block;
	line-height: 0.7;
	margin-top: 5px;
}

.post-nav-next {
	float: right;
}

.post-nav img {
	width: 100%;
	height: auto;
	opacity: 0.85;
	transition: all 0.35s ease-in;
	
	&:hover {
		opacity: 0.5;
		transition: all 0.15s ease-in;
	}

	&:active {
		opacity: 1;
		transition: all 0.15s ease-in;
	}
}
