.post-filter-container {
	width: 100%;
	float: left;
	clear: both;
	margin: 0 0 $global-margin;
	box-shadow: inset 0 -1px 1px rgba($black, 0.2);
}

.post-filter-first {
	float: left;
	text-align: right;
	width: 47%;
	padding: 0 3% 0 0;
	background: darken($silver, 8%);

	img {
		width: 16px;
		height: 12px;
		float: right;
		padding-left: 10px;
		position: relative;
		top: 18px;
	}
}

.post-filter-last {
	width: 46%;
	text-align: left;
	background: none;
	padding: 0 2%;
}

.post-filter-first {
	line-height: 50px;
	height: 50px;
	font-size: 1em;
	text-decoration: none;
}

.post-filters-container {
	position: relative;
	float: left;
	width: 50%;
}

.post-filters {
	position: absolute;
	font: 100 1em/2em $body-font;
	left: 0;
	background: $silver;
	padding: 10px 15px;
	width: 140px;
	
	@media (min-width: 768px) {
		min-width: 200px;
		width: 70%;
		max-width: 300px;	
	}

	/* This part has to do with the toggled */
	opacity: 0;
	top: 20px;
	z-index: -100;
	transition: all 0.4s ease-out;
	/* end of toggled */
	&.toggled {	
		top: 0; z-index: $z-index-panel;
		transition: all 0.25s ease-in-out;
		opacity: 1;
	}

	h3 {
		font: 100 1em/2em $body-font;
	}
}

.post-filter-item {
	display: block;
	width: 100%;
	float: left;
	min-height: 2em;
	height: 2em;
	background: url('../img/postfilter/standard.svg') left center no-repeat transparent;
	background-size: 24px 24px;
}

.post-filter-item a {
	display: block; 
	text-decoration: none; 
	padding-left: 32px;
	text-transform: capitalize;

	&:hover {
		background: url('../img/postfilter/standard.svg') left center no-repeat transparent;
		background-size: 24px 24px;
		color: $pink;
		transition: all 0s;
	} 

	&.selected {
		background: url('../img/postfilter/selected.svg') left center no-repeat transparent;
		background-size: 24px 24px;
		color: $pink;
		transition: all 0s;
	}
}

.post-filter-count {
	float: right;
	display: inline-block;
}

