.author-image {
	display: inline-block;
	float: left;
	width: 50px; height: 50px;
	padding: 2px;
	margin: 0 10px 0 0;
	background-size: 100% auto !important; // override js
	border-radius: 25px;
	position: relative;
	top: -5px;

	img {
		display: none;
	}
}

.no-js .author-image img {
	display: block;
	width: auto;
	height: 100%;
}