


.post-single {
	padding-bottom: $global-margin;
}

.post-single .post-header {
	margin-bottom: 0px;
}

.post-single-content {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: $global-margin*2;

	@media (min-width: 768px) {
		max-width: 630px;
	}
}

.post-header .post-date {
	opacity: 1;
}

.post-content-relative {
	position: relative;
	overflow: hidden;
}

.post-single-back {
	position: absolute;
	left: 0;
	top: 10px;
	opacity: 0.2;
	text-decoration: none;
	transition: all 0.2s ease-in;

	&:hover {
		opacity: 1;
		transition: all 0.15s ease-in;
	}

}

.post-header .fullscreen-section-content {
	padding-bottom: 110px;
}

.post-footer {
	display: none;
}

.post-single-meta {
	display: block;
	margin: -30px 0 $global-margin;
	opacity: 0.5;
}

.lt-ie9 .post-header.fullscreen-section { display: block; background-repeat: none; }