


.post-list {
	@extend .page-narrow-content !optional;
}

.post-list-intro  {
	@extend .container !optional;
	margin-bottom: 25px;

	h1 { margin-bottom: 0; margin-top: 3em; }

	@media (max-width: 400px) {
		br {
			display: none;
		}
	}
}

.post-title {
	margin: 35px 0 25px;
}

.post-item h1, .post-item h2, .post-item h3 {
	text-align: center;
}

.post-item,
.post-single {
	display: block;
	clear: both;
	float: left;
	width: 100%;
}


$post-item-border: 1px solid rgba($black, 0.2);

.post-item {
	width: 100%;
	margin: 0 0 $global-margin;
	padding-top: $global-margin;
	border-top: $post-item-border;

	a:hover {
		color: $link-color; transition: all 0.1s ease-in;
	}

	.post-figure:hover {
		opacity: 0.8;  transition: all 0.1s ease-in;
	}

	// Border bottom on post content
	// pos rel to fix the positioning of children w absolute
	position: relative;

	@media (min-width: 768px) {
		.post-figure, .post-content { width: 48%; }
		.post-figure { float: right; margin: 0; }
		.post-content {
			position: absolute;
			left: 0; top: 0; bottom: 0;
			padding-bottom: 0;
			border-bottom: $post-item-border;
		}

		&:nth-child(2n) {
			.post-figure {float: left; }
			.post-content {	right: 0;left: auto; }
		}
	}
}

.post-item-title {
	margin: 15px 0 $global-margin;
	color: $black;

	a {	color: inherit;	}
}


.post-content {
	@media (min-width: 768px) {
		float: right;
		width: 50%;
	}
}

.post-figure {
	margin: 0 0 15px;

	@media (min-width: 768px) {
		margin: 0;
		float: left;
		width: 47%;
		margin-right: 3%;
	}
}
