

.post-list-sticky {
	width: 100%;
	overflow: hidden;
	height: 210px;
	// height: 350px;

	@media (min-width: 600px) {
		height: 480px;
	}
}

.post-item-sticky {
	height: 100%;
	width: 100%;
	float: left;
	position: relative;
	display: inline;
	margin: 0;	padding: 0;

	.wp-post-image {
		max-width: auto;
		width: 100%; height: auto;
	}

	h2 {
		@extend .h1;
		font-size: 2em;
		margin: 0 0 5px;

		@media (min-width: 600px) {
			font-size: 3em;
			margin: 0 0 14px;
			max-width: 50%;
		}
	}
}

.post-sticky-content {
	position: absolute;
	left: 5%;
	width: 100%;
	color: white;
	transition: all 0.01s ease-in-out;
	bottom: 20px;
	a {	color: white;
		&:hover { color: $link-color;	}
	}

	@media (min-width: 600px) { bottom: 30px; }
}

.sticky-scroll-container {
	width: auto;
	height: 100%;
	overflow: hidden;
	position: relative;
}

.sticky-scroll-content {
	width: 100%;
	height: inherit;
	position: absolute;
	left: 0;
	transition: all 0.1s ease-in-out;
}

.sticky-scroll-content.slide {
	left: -20%;
	transition: all 0.25s ease-in-out;

	@media (min-width: 600px) {
		left: -10%;
	}

	@media (min-width: 993px) {
		left: -15%;
	}

	.post-sticky-content {
		left: 25%;
		transition: all 0.5s ease-in-out;

		@media (min-width: 600px) {
			left: 15%;
		}

		@media (min-width: 993px) {
			left: 20%;
		}
	}
}

.sticky-scroll-content.slide.next { 
	left: -85%;
	transition: all 0.25s ease-in-out;

	@media (min-width: 600px) {
		left: -85%;
	}

	@media (min-width: 993px) {
		left: -85%;
	}

	.post-sticky-content {
		left: 5%;
		transition: all 0.5s ease-in-out;

		@media (min-width: 600px) {
			left: 5%;
		}

		@media (min-width: 993px) {
			left: 5%;
		}
	}
}

.sticky-button-next {
	@extend %button;
	width: 15%;
	height: 100%;
	// Position to the right of the parent
	padding: 0;
	position: absolute;
	background: transparent;
	left: 100%;
	top: 0;	bottom: 0;
	z-index: $z-index-sticky-button;

	background: url('../img/svg-icons/arrow_right.svg') center center no-repeat rgba($pink, 0.3);
	background-size: 32px 32px;
	text-indent: -9999px;

	&.toggled {
		left: 85%;
		right: 0;
		background: url('../img/svg-icons/arrow_left.svg') center center no-repeat rgba($pink, 0.3);
		background-size: 32px 32px;
		animation: stickyInOut  0.3s linear forward;
	}
}

@keyframes stickyInOut {

	0% {
		opacity: 1;
	}

	50% {
		opacity: .5;
	}

	100% {
		opacity: 1;
	}
}