

%button {
	outline: none;
	cursor: pointer;
	box-shadow: none;
	box-shadow: none;
	display: inline-block;
	border: none;
	text-decoration: none;
}

.button-ghost {
	@extend %button;
	padding: 0 20px;
	border: 1px solid white;
	color: white;
	line-height: 2.5;
	min-height: 2.5em;
	font-size: 1em;
	border-radius: 3px;

	&:hover {
		color: $link-color;
		border: 1px solid $link-color;
	}
}

.button-ghost-cta {
	@extend .button-ghost;
	border: 1px solid $black;
	color: $black;

	&:hover {
		color: $link-color;
		border-color: $link-color;
	}
}

.button-filter {
	@extend %button;
	line-height: 50px;
	height: 50px;
	font-size: 1em;
	margin: 0;
	padding-left: 45px;
	background: url('../img/postfilter/arrow-down-black.svg') 20px center no-repeat;
	background-size: 16px 16px;

	@media (min-width: 768px) {
		width: 80%;
	}

}

.button-filter-close {
	position: absolute;
	top: 0px; right: 0px;
	display: block;
	width: 44px; height: 44px;
	line-height: 44px;
	text-align: center;
	background: url('../img/png-icons/close-black.png') center center no-repeat;
	background-size: 20px 20px;
	text-index: -999px;
}

.no-svg .button-filter-close {
	background: url('../img/png-icons/close-black-black.png') center center no-repeat;
	background-size: 20px 20px;
}

.button-cta-container,
.business-cta-container {
	text-align: center;
	display: block; clear: both;
	margin-bottom: $global-margin;
}
