


.social-media {
	display: block;
	width: 100%;
}

.social-media-centered {
	@extend .social-media;
	text-align: center;
	border-top: 1px solid $lightgrey;
	padding-top: 25px;
	margin: 40px 0 40px;
	float: left;

	li {
		display: inline-block;
	}
}

.social-media-centered a {
	display: inline-block;
	width: 44px;
	height: 44px;
	margin: 0 2px;
	opacity: 1;
	transition: all 0.7s ease-in;
	fill: white;
	float: left;

	@media (min-width: 992px) {
		margin: 0 12px;
	}

	&:hover {
		opacity: 0.8;
		transition: all 0.15s ease-in;
		fill: $green;
	}

	img {
		width: 100%;
		height: 100%;
		display: none;
	}
} 

.social-media-centered a svg {
	position: relative;
	top: 18%;
}
.no-svg .social-media-centered a img {
	display: block;
}

.nav-social {
	display: none;
	background: $green;
	color: white;
	text-align: left;
	bottom: 65px;
	position: fixed;
	right: 0;
	z-index: $z-index-nav+10;
	width: auto;

	&.toggled {
		display: block;
	}	
}

.svg-mail {	width: 30px; }
.svg-instagram { width: 29px; }
.svg-twitter { width: 33px; }
.svg-linkedin {width: 27px;  top: 23%; }
.svg-facebook { width: 12px; }