


.people-talent-form {
	display: block;
	max-width: 300px;
	width: 80%;
	margin: auto;
}

input[type=text], 
input[type=email] {
	padding: 0;
	margin: 0 0 $global-margin/2;
	font: normal 1em/36px $body-font;
	height: 36px;
	display: block;
	width: 100%; float: left; clear: both;

	color: white;
	border: none;
	border-bottom: 1px solid rgba(white, 0.5);
	outline: none;
	background: rgba(white, 0.01);

	&:active, &:focused {
		transition: all 0.15s ease-in;
		border-bottom: 1px solid rgba(white, 0.5);
		background: rgba(white, 0.9);
		color: $black;
	}
}

input[type=submit] {
	@extend %button;
	background: none;
	border: none;
	box-shadow: none;
	display: block;
	width: 100%;

	background: transparent;
	color: white;
	border: 1px solid rgba(white, 0.5);

	font: normal 1em/40px $body-font;
	height: 40px;
	padding: 0 5%;
	margin: 0 0 $global-margin/2;

	transition: all 0.15s ease-in;

	&:hover {
		transition: all 0.15s ease-in;
		background: rgba(white, 1);
		color: $black;
	}
}