


.fullscreen-section.post-header {
	overflow: hidden;
	position: relative;
}

.fullscreen-section {
	position: relative;
}

.fullscreen-section-content {
	position: absolute;
	bottom: 0px;
	color: white;
	width: 100%;

	a {	color: inherit;	}
}


.post-header.fullscreen-section {
	background-position: center center;
	background-repeat: no-repeat;	

	@media (max-width: 600px) {
		background-size: auto 100%;
	} 

	@media (min-width: 993px) {
		background-size: cover;
	}
}