$max-height-iphone: 220px;

/* Basicz */
.pre-people img,
#masonry img {
	width: auto;
	height: auto;
	overflow: hidden;
	float: left;

	@media (max-width: 400px) {
		max-height: $max-height-iphone;
	}
}


#masonry .people-contact-block {
	display: block;
	float: left;
	clear: both;
	width: 100%;
	@media (min-width: 768px) {
		width: 50%;
		display: inline;
		float: right;
		clear: none;
	}
}

.pre-people .block,
#masonry .block {
	overflow: hidden;
	width: 50%;
	height: auto;
	float: left;
	display: inline-block;

	@media (max-width: 400px) {
		max-height: $max-height-iphone;
	}
	@media (min-width: 768px) {	width: 25%; max-height: auto; }
	@media (min-width: 1600px) { width: 16.6%; }
}

.pre-people .block-wide,
#masonry .block-wide {
	width: 100%; height: auto;
	@media (min-width: 768px) {	width: 50%;  }
}
