

.messagebubble {
	display: inline-block;
	width: auto;
	padding: 10px;
	border-radius: 5px;
	position: relative;
	margin-bottom: 20px;

	&:after {
		content: "";
		width: 0; 
		height: 0; 
		position: absolute;
		top: 100%;
		right: 45%;
		left: 45%;
		border-left: 8px solid transparent;
		border-right: 8px solid transparent;

	}
}