

#overlay {
	z-index: $z-index-overlay;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0; bottom: 0;
	left: 0; right: 0;
	cursor: pointer;
	transition: all 0.2s ease-in;
	display: none;

	img {width: 100%; height: 100%; opacity: 0.5;}

	&.loaded, &.toggled { display: block; }
	&.white { background: rgba(white, 0.3);	}
	&.green { background: rgba($green, 0.3); }
	&.black { background: rgba(black, 0.3); }
}

// canvas
canvas#blurOverlay {
	width: 100%;
	height: 100%;
}