
.people {
	@extend .container !optional;
}

.people h1 {
	margin-top: 3em;
	margin-bottom: 60px;
}

.persona {
	display: block;
	width: 50%;
	float: left;
	margin: 0; padding: 0 1%;
	margin-bottom: 15px;
	position: relative;
	box-sizing: border-box;

	@media (min-width: 768px) {
		display: inline;
		width: 25%;
		padding: 0 1%;
	}

	img {
		width: 100%;
		height: auto;
	}
}


.info {
	height: 80px;
	display: block;
	clear: both;
	margin: 0;
}

.persona-title,
.persona-name,
.persona-info {
	margin: 0;
}

.persona-info {

}

.persona-name {
	font: bold 1em/1.5 $body-font;
}

.persona-title {
	font-size: 24px;
	line-height: 1.2;
}

.persona-info {
	p, h2, h3, h4, span {
		margin: 0;
	}
}

.people-intro-block {
	background: $black;
	color: white;
	overflow: hidden;
	width: 100%;
	float: left;

	@media (min-width: 768px) {
		text-align: center;
	}
}

.people-intro-block h1 {
	margin: 1.5em auto;
	display: block;
	max-width: 760px;
	width: 90%;

	@media (min-width: 768px) {
		width: 80%;
	}
}

.people-contact-block {
	display: block;
	// float: left;
	width: 100%;
	position: relative;
	text-align: center;
	margin-bottom: 4em;

	a:hover {
		color: $green;
	}

	&.black {
		background: $black;
		color: white;
	}

	@media (max-width: 767px) {
		max-width: 80%;
		margin: 0 10% 70px;

		br {
			display: none;
		}
	}
}

.people-contact-heading {
	margin: 0;
	font-size: 5em;
	line-height: 250px;
	height: 300px;
	display: block;
	text-align: center;

	@media (min-width: 768px) {
		font-size: 7em;
		line-height: 300px;
		height: 330px;
	}

	@media (min-width: 1600px) {
		line-height: 300px;
		height: 320px;
	}
}

.people-centered-content {
	display: block;
	width: 100%;
	text-align: center;
	position: absolute;
	bottom: 25%;

	@media (min-width: 768px) {
		bottom: 22%;
	}

	@media (min-width: 1600px) {
		bottom: 20%;
	}
}

// script things
.js-people-container {
	margin-bottom: -10px;
	white-space: nowrap;
	overflow: hidden;
	width: 100%;
	height: auto;
}

.js-people-scroll {
	width: 100%;
	overflow-y: hidden;

	@media (min-width: 768px) {
		overflow-x: scroll;
	}
	-webkit-overflow-scrolling: touch;
	white-space: nowrap;
}


