
.startpage-promotion {
	position: absolute;
	bottom: 170px;
	width: 100%;
	color: white;
	transition: all .3s ease-in;  

	a { color: inherit; 
		&:hover { color: $link-color; transition: all 0.1s ease-in; }
	}
}

.startpage-promotion .promotion-title {
	margin: 0 0 10px;
}

.promotion {
	position: relative;
}

.promotion-white {
	@extend .promotion;
	color: white;
}

.promotion-content {
	position: absolute;
	bottom: 170px;
	width: 100%;
}

.promotion-title {
	max-width: 650px;
	margin-top: 1em;
}

.promotion-title-sub {
	display: block;
	font-size: 0.5em;
	line-height: 32px;

	@media (min-width: 500px) {
		display: inline;	
	}
}

.promotion-title a .promotion-title-sub {
	text-decoration: underline;
}
