.cookie-message {
	display: none;
	position: fixed;
	left: 0; right: 0;
	bottom: $nav-height;
	text-align: center;
	background: $black;
	color: white;
	width: 100%;
	padding: 0 5px;
	z-index: $z-index-cookie;

	&.toggled {
		display: block;
	}
}

.cookie-message-container {
	font-size: 1em;
	line-height: 32px;
	padding: 15px 0;
}

// button
.cookie-message-toggler {
	outline: none;	cursor: pointer; background: none;	box-shadow: none;	padding: 0;
	font: 300 1em/32px $title-font;
	border: none;
	color: inherit;
	text-decoration: underline;
	display: inline;
}


.page-template-page-contact .cookie-message {
	bottom: 0;
	color: $black;
	background: $green;
}