
$tooltip-color: #666;

.istone-tooltip {
	position: absolute;
	display: none;
	width: 270px;
	padding: 10px 50px 10px 25px;
	background: $tooltip-color;
	color: white;
	font: 300 0.875em/1.5 $body-font;
	margin: 0;
	z-index: 490;
	border-radius: 5px;
	right: 90px;
	bottom: 65px;
	opacity: 0;
	-webkit-transition: all 0.4s ease-in;
	transition: all 0.4s ease-in;
	z-index: 1;

	@media (max-width: 767px) {
		display: none;
		z-index: -9999;
		left: -9999px;
	}

	a {
		color: inherit;
		text-decoration: underline;

		&:hover { color: $green; }
	}

	&:after {
		content: "";
		width: 0; 
		height: 0; 
		position: absolute;
		top: 100%;
		right: 80px;
		border-left: 12px solid transparent;
		border-right: 12px solid transparent;
		border-top: 10px solid $tooltip-color;
	}

	&.toggled {
		display: block;
		bottom: 55px;
		padding: 30px 50px 30px 25px;
		opacity: 1;
		z-index: $z-index-tooltip + 2;
		transition: all 0.3s ease-out;
	}
}

.nav-istone:hover + .istone-tooltip {
	display: block;
}

.lt-ie9 .is-frontpage .istone-tooltip {
	position: fixed;
	left: auto; right: auto;
	top: auto; bottom: auto;
	width: auto;
	margin: 10px 5%;
	float: left;
	opacity: 1;
	left: 0; right: 0;
	bottom: 0;
}

.lt-ie9 .istone-tooltip { display: none; opacity: 0; left: -9999; }

.istone-tooltip-close {
	border: none;
	background: none;
	box-shadow: none;
	position: absolute;
	top: 0;	right: 0;
	height: 44px; width: 44px;
	display: block;
	background: transparent;
	cursor: pointer;
	outline: none;

	svg {
		position: absolute;
		top: 5px;
		right: 5px;
		height: 35px;
		width: 20px;
		display: block;
	}
}

.no-svg .istone-tooltip-close {
	background: url('../img/png-icons/close.png') center center no-repeat;
	background-size: 44px;
}