

.error404 {
	background: url('../img/background/magic_heroslide_404.jpg') center center no-repeat;
	background-size: cover;
	margin-bottom: -65px;
}

.article404 {
	position: fixed;
	bottom: 65px;
	left: 5%;
	color: white;
}