.page-template-page-business {
	.page-title {
		margin-top: 3em;
	}
}

.business-list {
	width: 100%;
	clear: both;
	display: block;
	margin: 0;
	float: left;
	counter-reset: business-item;
}

.business-list h2:before {
	counter-increment: business-item;
	content: "0" counter(business-item) ".";
	color: $link-color;
	padding-right: 4px;
}

.business-list li {
	width: 100%;
	display: inline-block;
	float: left;
	margin: 0 0 $global-margin;

	@media (min-width: 400px) and (max-width: 767px) {
		width: 49%;
		padding-left: 1%;
		&:nth-child(2n+1) {
			clear: left;
			padding-left: 0;
		}
	}

	@media (min-width: 768px) {
		width: 23%;
		padding-right: 2%;

		&:nth-child(4n) {
			width: 25%;
			padding-right: 0;
		}
	}
}

.business-messages {
	display: block;
	width: 100%;
	float: left;
}

.business-message-item {
	width: 100%;
	display: block;
	float: left;
	margin-bottom: $global-margin+10;

	@media (min-width: 768px) {
		width: 48%;
		display: inline-block;
		padding-right: 2%;
	}
}


.business-istone {
	background: url('../img/business/map.svg') 240% 3% no-repeat #e5e5e5;
	background-size: 90%;
	padding: 3em 0 0;
	margin-top: 60px;
	float: left;
	color: $black;
	width: 100%;

	@media (min-width: 768px) {
		background: url('../img/business/map.svg') 80% 20% no-repeat #e5e5e5;
		background-size: 60%;
		padding: 6em 0 0;
	}
}


.no-svg .business-istone {
	background: url('../img/business/map.png') 80% 20% no-repeat #e5e5e5;
}


.business-pink {
	display: block;
	background: $pink;
	color: white;
	text-align: center;
	padding: 34px 0;
	width: 100%;
	clear: both;
	float: left;

	a:hover {
		color: black;
		border-color: black;
	}
}

.business-logos {
	margin: 15px 0;
    display: block;
    width: 100%;
    float: left;

	img {
		display: block;
		margin: 0 auto 40px;
	}
}
