#contact,
.page-template-page-contact { 
	background: $black;
	color: white;
}

#contact-container #contact { padding-top: 0; }
#contact { padding-top: 65px; padding-bottom: 65px; overflow: hidden; }

.contact-block {
	margin: 0 0 10px;

	@media (min-width: 768px) {
		margin: 0 0 10px 0;
		width: 50%;
		display: inline-block;
	}

	a { color: white; }

}


// the contact "overlay"
#contact-container {
	position: fixed;
	z-index: $z-index-panel;
	bottom: auto;
	left: 0; right: 0;
	top: 100%;  // window height
	display: none;

	&.loaded, 
	&.toggled {
		display: block;
	}
}



// Is for the contact information stuff
.contact-block-info {
	@extend .contact-block;
	float: left;
	
	
	@media (min-width: 768px) and (max-width: 992px) {
		width: 100%;
		clear: both;
		float: left;
		text-align: left;
	}
}


.contact-block-social {
	display: block;

	@media (min-width: 768px) {
		float: left;
		width: 50%;
	}
}

.contact-block-link {
	display: block;
}

.contact-adress {
	width: 100%;
	margin: 0 0 $global-margin; 

	@media (min-width: 993px) {
		float: right;
		width: 165px;
		margin: 0;
	}
}
