
.contact-map-container {
	position: relative;
	float: left;
	width: 100%;

	@media (min-width: 766px) {
		display: inline-block;
		float: right;
		margin-top: 40px;
		width: 46%;
		margin: 30px 0% 40px 3%;
	}
}

/* SVG HASTLE */
.svg-contact-map {
	width: 100%;
	display: block;
	float: right;

	@media (max-width: 993px) {
		max-height: 450px;
	}	

	@media (min-width: 993px) {
		min-height: 450px;
	}

	#office {
		@media (min-width: 768px) {
			display: none;
			float: right;
		}
	}
}


.svg .svg-contact-map-fallback { 
	display: none; 
	@media (min-width: 767px) and (max-width: 992px) {
		display: block;
	}
}

.no-svg .svg-contact-map-fallback {
	display: block;
	width: 100%;
	height: auto;
}

.no-svg .svg-contact-map-fallback img {
	display: block;
	float: left;
	width: 100%;
}


.svg-map-marker {
	position: absolute;
	width: 50px;
	height: 80px;
	left: 34%;
	bottom: 44%;
	opacity: .9;
	transition: all 0.15s ease-out;
	display: none;

	&.loaded {
		bottom: 46%;
		opacity: 1;
		transition: all 0.15s ease-in;
	}
	
	@media (min-width: 768px) {
		display: block;
	}
}


/* Remove svg map frmo tablets */
@media (min-width: 768px) and (max-width: 992px) {

	.svg-contact-map-fallback {
		width: 100%;
		height: auto;
		display: block;
	}

	.svg-map-marker,
	.svg-contact-map {	display: none; }

}