

.page-template-page-healthpicker-php {
	background: $healthpicker-background;

	h1 {
		position: relative;

		&:before {
			position: relative;
			content: "";
			width: 40px; height: 40px;
			display: inline-block;
			margin-right: 10px;
			background: url('../img/svg-icons/picker.svg') center center no-repeat;
			background-size: 100%;
		}
	}
}

.no-css3 .page-template.page-healthpicker-php h1 {
	padding-left: 44px;
	background: url('../img/png-icons/picker.png') center center no-repeat;
	background-size: auto 100%;
}

.no-svg .page-template.page-healthpicker-php h1:before,
.ios .page-template.page-healthpicker-php h1:before {
	background: url('../img/png-icons/picker.png') center center no-repeat;
	background-size: 100%;
}