

.page-narrow h1 {
	@media (min-width: 700px) {
		width: 50%;
	}
}

.page-narrow-content {
	@extend .container !optional;
	width: 600px;
	max-width: 80%;
	margin: auto;
}


.page-narrow .page-narrow-content {
	padding-top: $global-margin;
	border-top: 1px solid black;
	margin-bottom: 3em;

	.h1 {
		margin: 0 0 25px;
	}
}
