

// inherit this shit
.new-startpage {
	color: white;

	h1 {
		font: 300 18px/1.5 "Neuzeit", sans-serif;
		color: white;
		margin: 0;
		position: absolute;
		bottom: 60px;
		left: 40px;

		a {
			color: white;
		}

		&:hover {
			a {
				color: $link-color;
			}
		}
	}

	h2 {
		color: white;
		position: absolute;
		bottom: 70px;
		left: 40px;
	}
}

.startpage-title-link {
	text-decoration: underline;
}


.splashBg.new-startpage {
	position: fixed;
}
