@charset "UTF-8";
/* Settings and variablez */
/* need to be lower than nav for 
	tooltip to be over it */
/* Meat meat moo */
header, nav, article, aside, footer, section {
  display: block; }

form {
  margin: 0; }

fieldset {
  margin: 0;
  padding: 0;
  border: 0; }

figure {
  margin: 0; }

.image-align-right {
  float: right;
  margin: 0 0 10px 20px; }

.image-align-left {
  float: left;
  margin: 0 20px 10px 0; }

ul, ol {
  margin: 0;
  padding: 0;
  list-style-type: none; }

dl {
  font-size: 1.4em; }

dd, dt {
  margin: 0 0 3px;
  float: left;
  width: 50%; }

dt {
  font-weight: bold; }

.clearFix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

html, body {
  min-height: 100%; }

body {
  background: #f2f2f2;
  color: #1a1a1a;
  margin: 0; }

.page-template-page-business ::-moz-selection {
  background: #00b1af;
  color: white; }

.page-template-page-business ::selection {
  background: #00b1af;
  color: white; }

::-moz-selection {
  background: #ee589f;
  color: white; }

::selection {
  background: #ee589f;
  color: white; }

.logo {
  position: absolute;
  left: 10%;
  top: 5%;
  z-index: 100000;
  width: 135px; }

a {
  text-decoration: underline;
  color: inherit;
  -webkit-transition: all 0.25s ease-in;
          transition: all 0.25s ease-in; }
  a:hover {
    color: #00A99D;
    -webkit-transition: all 0.1s ease-in;
            transition: all 0.1s ease-in; }

.clearfix:after {
  content: "";
  display: block;
  clear: both; }

a img {
  border: none;
  display: block; }

img {
  max-width: 100%;
  height: auto; }

.container, .page-narrow-content, .post-list, .post-list-intro, .people {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  clear: both; }
  @media (min-width: 1139px) {
    .container, .page-narrow-content, .post-list, .post-list-intro, .people {
      max-width: 1140px; } }

.text-center {
  text-align: center; }

.relative {
  position: relative; }

.hidden {
  display: none;
  visibility: hidden; }

.skip {
  position: absolute;
  top: -30000px;
  left: -30000px; }

.error404 .space-top {
  padding-top: 15%; }

@font-face {
  font-family: Jenna;
  src: url("../fonts/JennaSue/JennaSue.ttf");
  font-weight: normal; }

@font-face {
  font-family: Neuzeit;
  src: url("../fonts/Neuzeit/NeuzeitSLTStd-Book.otf") format("opentype");
  font-weight: normal; }

@font-face {
  font-family: NeuzeitHeavy;
  src: url("../fonts/Neuzeit/NeuzeitSLTStd-BookHeavy 2.otf") format("opentype");
  font-weight: bold; }

body {
  font: 300 17px/24px "Neuzeit", Helvetica, sans-serif;
  font: 300 1.06025em/1.5 "Neuzeit", Helvetica, sans-serif; }
  @media (max-width: 400px) and (max-width: 700px) {
    body {
      font: 300 0.9em/1.4 "Neuzeit", Helvetica, sans-serif; } }

p {
  font-size: 17px;
  line-height: 24px;
  margin: 0 0 40px; }
  p:last-child {
    margin-bottom: 0; }
  p a {
    text-decoration: underline;
    color: inherit; }

sub, sup {
  line-height: 0; }

.page-title {
  margin-top: 3em; }

h1, .h1, blockquote,
blockquote p,
blockquote p:last-child, .post-item-sticky h2 {
  margin: 2em 0 50px;
  font: bold 3em/0.8 "NeuzeitHeavy", Helvetica, sans-serif; }
  @media (max-width: 768px) and (max-height: 640px) {
    h1, .h1, blockquote,
    blockquote p,
    blockquote p:last-child, .post-item-sticky h2 {
      font: bold 2.2em/0.8 "NeuzeitHeavy", Helvetica, sans-serif;
      margin-top: 3em; } }

#contact h1 {
  margin-bottom: 30px;
  margin-top: 70px; }

#contact p {
  margin-bottom: 24px; }

#contact a:hover {
  color: #72BC49; }

.post-single .post-title {
  margin: 2em 0 40px; }

.post-single .post-header .post-title {
  margin: 0 0 10px; }

h2, .h2 {
  margin: 0;
  font: normal 1.5em/1.5 "NeuzeitHeavy", Helvetica, sans-serif; }

h3 {
  margin: 0;
  font: normal 1.2em/1.5 "NeuzeitHeavy", Helvetica, sans-serif; }

h4, .h4 {
  margin: 0;
  font: bold 1.2em/1.2 "NeuzeitHeavy", Helvetica, sans-serif; }

h1 a, h2 a, h3 a, h4 a, h5 a {
  color: black;
  text-decoration: none; }

blockquote,
blockquote p,
blockquote p:last-child {
  font: 300 42px/1 "Neuzeit", Helvetica, sans-serif;
  margin: 15px 0 40px;
  text-align: center;
  display: block;
  clear: both; }

/*
h1, h2, h3 {
    br {
        display: none;
        @media (min-width: 768px) {
            display: block;
        }
} */
sup,
h1 sup {
  font-size: 0.25em;
  top: -10px;
  position: relative; }

/* 1 col --> 2 columns */
.column2 {
  width: 100%;
  display: block;
  float: left;
  margin-bottom: 50px; }
  @media (min-width: 768px) {
    .column2 {
      width: 48%;
      display: inline-block;
      padding-right: 2%; } }

/* 1 column content -> 2 -->> 4  */
.column4 {
  width: 100%;
  display: inline-block;
  float: left;
  margin: 0 0 40px; }
  @media (min-width: 400px) and (max-width: 767px) {
    .column4 {
      width: 49%;
      padding-left: 1%; }
      .column4:nth-child(2n+1) {
        clear: left;
        padding-left: 0; } }
  @media (min-width: 768px) {
    .column4 {
      width: 23%;
      padding-right: 2%; }
      .column4:nth-child(4n) {
        width: 25%;
        padding-right: 0; } }

/* Framework and navigations */
.header-top-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background: white;
  background: rgba(255, 255, 255, 0.9);
  z-index: 500;
  line-height: 65px;
  height: 65px; }

.header-bottom-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background: white;
  background: rgba(255, 255, 255, 0.9);
  z-index: 500;
  line-height: 65px;
  height: 65px; }
  @media (max-width: 767px) {
    .header-bottom-bar .container, .header-bottom-bar .page-narrow-content, .header-bottom-bar .post-list, .header-bottom-bar .post-list-intro, .header-bottom-bar .people {
      width: 100%; } }

.lt-ie9 .header {
  width: 100%;
  clear: both; }

.lt-ie9 .header-bottom-bar {
  width: 100%;
  clear: both; }

.lt-ie9 .header-nav-contact-toggler {
  display: inline-block;
  position: static; }

.nav-svg-magiclogo {
  width: 80px;
  height: 34px;
  height: auto;
  position: relative;
  top: 15px; }

@media (min-width: 768px) {
  .header-bottom-bar .nav-svg-magiclogo {
    opacity: 0; } }

.header-link-home {
  display: block;
  float: left; }
  .header-link-home img {
    width: 30px;
    height: 30px;
    padding: 12px;
    margin: 0;
    position: relative;
    top: 4px; }
    @media (min-width: 768px) {
      .header-link-home img {
        display: none; } }
  @media (max-width: 767px) {
    .header-link-home .nav-svg-magiclogo {
      display: none; } }
  @media (min-width: 768px) {
    .header-link-home {
      display: inline-block; } }

/* Added text for screen readers, hidden with this */
.header-link-home-text {
  text-indent: -99999px;
  position: relative;
  float: left;
  display: block; }

.no-svg .header-link-home {
  background: url("../img/magiclogoblack.png") center center no-repeat;
  width: 80px;
  height: auto; }

/* Adds some annoying bug the the social nav in safari.. */
.header-bottom-bar a {
  color: #1a1a1a;
  fill: #1a1a1a;
  -webkit-transition: all 0.3s ease-in;
          transition: all 0.3s ease-in; }
  .header-bottom-bar a:hover, .header-bottom-bar a:active, .header-bottom-bar a:focus {
    fill: #72BC49;
    color: #72BC49;
    -webkit-transition: all 0.15s ease-in;
            transition: all 0.15s ease-in; }

.header-logo {
  width: 95px;
  height: 60px;
  position: fixed;
  top: 25px;
  left: 40px;
  z-index: 10000; }

.lt-ie9 .header-logo {
  height: auto;
  float: left;
  clear: both;
  display: block;
  margin: 15px 0 5px; }

.no-svg .header-logo-img,
.lt-ie9 .header-logo-img {
  width: 120px;
  display: block;
  top: 10px; }

.header-logo-img-white {
  display: none; }

.is-frontpage .header-svg-magiclogo,
.single-post .header-svg-magiclogo,
.page-template-page-contact .header-svg-magiclogo {
  fill: white; }

.is-frontpage .header-logo-img-black,
.single-post .header-logo-img-black,
.page-template-page-contact .header-logo-img-black {
  display: none; }

.is-frontpage .header-logo-img-white,
.single-post .header-logo-img-white,
.page-template-page-contact .header-logo-img-white {
  display: block; }

@media (min-width: 768px) {
  [data-hook="animate-on-scroll"] {
    position: relative;
    left: -90px;
    -webkit-transition: all 0.25s ease-in;
            transition: all 0.25s ease-in; }
    [data-hook="animate-on-scroll"] .nav-svg-magiclogo {
      opacity: 0;
      -webkit-transition: all 0.25s ease-in;
              transition: all 0.25s ease-in; }
    [data-hook="animate-on-scroll"].toggled {
      left: 0;
      -webkit-transition: all 0.25s ease-out;
              transition: all 0.25s ease-out; }
      [data-hook="animate-on-scroll"].toggled .nav-svg-magiclogo {
        opacity: 1;
        -webkit-transition: all 0.25s ease-out;
                transition: all 0.25s ease-out; } }

.header .nav-contact-toggler {
  border: none;
  background: #ee589f;
  color: white;
  box-shadow: 0;
  outline: none;
  cursor: pointer;
  width: 80px;
  height: 65px;
  position: absolute;
  right: 0;
  bottom: 0;
  color: white;
  fill: white;
  text-decoration: none;
  z-index: 510;
  line-height: 65px;
  font-size: 14px;
  text-align: center;
  -webkit-transition: all 0.15s ease-in;
          transition: all 0.15s ease-in; }
  .header .nav-contact-toggler:hover {
    background: #e21777;
    color: white; }
  .header .nav-contact-toggler:focus {
    color: white; }
  .header .nav-contact-toggler.toggled, .header .nav-contact-toggler:active {
    background: #1a1a1a;
    color: white;
    fill: white;
    -webkit-transition: all 0.4s ease-in;
            transition: all 0.4s ease-in; }

.no-svg .header .nav-contact-toggler {
  background: url("../img/png-icons/contact.png") center center no-repeat #ee589f; }

.no-svg .header .nav-contact-toggler.toggled {
  background: url("../img/png-icons/close.png") center center no-repeat #1a1a1a !important; }

.header-top-bar .nav-contact-toggler {
  bottom: auto;
  top: 0; }

.svg-contact {
  top: 8px; }

.svg-close {
  top: 15px; }

.svg-contact, .svg-close {
  position: absolute;
  left: 29%;
  width: 32px;
  height: 40px;
  fill: white;
  -webkit-transition: all 0.3s ease-in;
          transition: all 0.3s ease-in; }

.nav-contact-toggler.toggled .svg-close {
  opacity: 1;
  -webkit-transition: all 0.15s ease-in;
          transition: all 0.15s ease-in; }

.nav-contact-toggler.toggled .svg-contact,
.nav-contact-toggler .svg-close,
.nav-contact-toggler.toggled .icon-text {
  opacity: 0;
  -webkit-transition: all 0.15s ease-in;
          transition: all 0.15s ease-in; }

.icon-text {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: block;
  height: 22px;
  line-height: 22px;
  font-size: 11px;
  text-align: center;
  font-weight: 100; }

.fullscreen-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 9000;
  background: rgba(0, 169, 157, 0.9);
  color: white; }

.fullscreen-nav a {
  color: white; }
  .fullscreen-nav a:hover {
    opacity: 0.2;
    -webkit-transition: all 0.15s ease-in;
            transition: all 0.15s ease-in; }

.fullscreen-nav-container {
  min-height: 100%;
  height: 100%;
  position: relative;
  float: left;
  width: 100%; }

.fullscreen-nav-toggler {
  position: fixed;
  right: 40px;
  top: 20px;
  z-index: 9010;
  background: #00A99D;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  cursor: pointer; }
  .fullscreen-nav-toggler.open {
    background: transparent; }

.navigation {
  text-align: center;
  display: block;
  margin: 0;
  position: relative;
  top: 140px;
  left: 50%;
  -webkit-transform: translate(-50%, -15%);
          transform: translate(-50%, -15%); }
  @media (min-height: 590px) {
    .navigation {
      top: 190px; } }
  @media (min-width: 768px) {
    .navigation {
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%); } }

.menu-item a {
  font: 700 3.65em/1 "NeuzeitHeavy", Helvetica, sans-serif;
  font: 700 8vh/1 "NeuzeitHeavy", Helvetica, sans-serif;
  text-decoration: none;
  -webkit-transition: all 0.4s ease-out;
          transition: all 0.4s ease-out;
  color: white; }
  .menu-item a:hover {
    text-decoration: line-through;
    opacity: 0.2;
    -webkit-transition: all 0.15s ease-in;
            transition: all 0.15s ease-in; }
  @media (min-width: 768px) {
    .menu-item a {
      font: 700 11vh/1 "NeuzeitHeavy", Helvetica, sans-serif; } }

.current-menu-item a {
  color: black; }

.fullscreen-nav-container .contact-actions {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  position: fixed;
  bottom: 80px; }

.contact-actions {
  display: block;
  float: left;
  clear: both;
  width: 100%;
  text-align: center; }
  @media (min-width: 992px) {
    .contact-actions {
      max-height: 80px; } }

.contact-actions-container,
.contact-social {
  display: block;
  clear: both; }
  @media (min-width: 768px) {
    .contact-actions-container,
    .contact-social {
      text-align: left;
      clear: none;
      display: inline-block; } }
  @media (min-width: 992px) {
    .contact-actions-container,
    .contact-social {
      clear: right; } }

.contact-actions-container a {
  display: block; }
  @media (min-width: 480px) {
    .contact-actions-container a {
      display: inline-block; } }

.contact-social-heading,
.contact-actions a {
  font: 800 1.625em/1 "Neuzeit", Helvetica, sans-serif;
  text-decoration: none;
  color: white;
  line-height: 80px; }

.contact-actions a {
  text-decoration: none;
  color: white;
  margin: 0 8px;
  padding: 0;
  line-height: 80px; }
  .contact-actions a:hover {
    text-decoration: line-through;
    opacity: 0.2;
    -webkit-transition: all 0.15s ease-in;
            transition: all 0.15s ease-in; }
  .contact-actions a span {
    float: left;
    display: inline-block;
    margin-right: 10px;
    position: relative;
    top: 15px; }

.contact-social-heading {
  margin-left: 25px;
  margin-right: 10px;
  clear: both;
  display: block; }
  @media (min-width: 768px) {
    .contact-social-heading {
      display: inline-block;
      clear: none; } }

.contact-social img {
  height: 44px; }
  @media (min-wid: 768px) {
    .contact-social img {
      position: relative;
      top: 16px; } }

.contact-social a {
  display: inline-block; }

.fullscreen-nav-container svg {
  fill: white; }

.nav-etc {
  display: block;
  float: left;
  clear: both;
  text-align: center;
  line-height: 80px;
  height: 80px;
  width: 100%;
  position: fixed;
  bottom: 0; }
  .nav-etc a {
    margin: 0 5px; }

.fullscreen-nav {
  -webkit-transform: scale(0.4);
          transform: scale(0.4);
  -webkit-transition: all 400ms ease-in;
          transition: all 400ms ease-in;
  opacity: 0;
  pointer-events: none; }

.js-nav-visible {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: fixed; }
  .js-nav-visible .fullscreen-nav {
    display: block;
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transition: all 120ms ease-out;
            transition: all 120ms ease-out;
    pointer-events: auto; }
  .js-nav-visible .logo-header {
    position: fixed; }
  .js-nav-visible .header-logo-img-black {
    display: none; }
  .js-nav-visible .header-logo-img-white {
    display: block; }

.icon-text {
  background: url("../img/icons/icon-text.png") center center no-repeat;
  background-size: auto 100%;
  height: 44px;
  width: 50px; }

.icon-phone {
  background: url("../img/icons/icon-phone.png") center center no-repeat;
  background-size: auto 100%;
  height: 44px;
  width: 40px; }

.icon-pin {
  background: url("../img/icons/icon-pin.png") center center no-repeat;
  background-size: auto 100%;
  height: 44px;
  width: 34px; }

/* Change this to watch in slo-mo */
.navicon-button {
  display: inline-block;
  -webkit-transition: 0.25s;
          transition: 0.25s;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  opacity: 1;
  border: none;
  box-shadow: none;
  outline: none; }
  .navicon-button:active, .navicon-button:focus {
    outline: none; }
  .navicon-button .navicon:before, .navicon-button .navicon:after {
    -webkit-transition: 0.25s;
            transition: 0.25s; }
  .navicon-button:hover {
    -webkit-transition: 0.5s;
            transition: 0.5s;
    opacity: 1; }
    .navicon-button:hover .navicon:before, .navicon-button:hover .navicon:after {
      -webkit-transition: 0.25s;
              transition: 0.25s; }
    .navicon-button:hover .navicon:after {
      top: -.825rem; }
    .navicon-button:hover .navicon:before {
      top: .825rem; }

.navicon {
  position: relative;
  display: block;
  width: 30px;
  height: 2.5px;
  background: #fff;
  -webkit-transition: 0.5s;
          transition: 0.5s;
  top: 1px;
  left: 2px;
  left: calc(50% - 30px / 2); }
  .navicon:after, .navicon:before {
    display: block;
    content: "";
    height: 2.5px;
    width: 30px;
    background: #fff;
    position: absolute;
    z-index: -1;
    -webkit-transition: 0.5s 0.25s;
            transition: 0.5s 0.25s;
    border-radius: 1rem; }
  .navicon:after {
    top: -9px; }
  .navicon:before {
    top: 9px; }

.ios .navicon {
  left: -3px; }

.open:not(.steps) .navicon:before,
.open:not(.steps) .navicon:after {
  top: 0 !important; }

.open .navicon:before,
.open .navicon:after {
  -webkit-transition: 0.5s;
          transition: 0.5s; }

.open.x .navicon {
  background: transparent; }
  .open.x .navicon:after {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
  .open.x .navicon:before {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg); }

/* Page specific templates and elementz */
.new-startpage {
  color: white; }
  .new-startpage h1 {
    font: 300 18px/1.5 "Neuzeit", sans-serif;
    color: white;
    margin: 0;
    position: absolute;
    bottom: 60px;
    left: 40px; }
    .new-startpage h1 a {
      color: white; }
    .new-startpage h1:hover a {
      color: #00A99D; }
  .new-startpage h2 {
    color: white;
    position: absolute;
    bottom: 70px;
    left: 40px; }

.startpage-title-link {
  text-decoration: underline; }

.splashBg.new-startpage {
  position: fixed; }

.page-template-page-business .page-title {
  margin-top: 3em; }

.business-list {
  width: 100%;
  clear: both;
  display: block;
  margin: 0;
  float: left;
  counter-reset: business-item; }

.business-list h2:before {
  counter-increment: business-item;
  content: "0" counter(business-item) ".";
  color: #00A99D;
  padding-right: 4px; }

.business-list li {
  width: 100%;
  display: inline-block;
  float: left;
  margin: 0 0 40px; }
  @media (min-width: 400px) and (max-width: 767px) {
    .business-list li {
      width: 49%;
      padding-left: 1%; }
      .business-list li:nth-child(2n+1) {
        clear: left;
        padding-left: 0; } }
  @media (min-width: 768px) {
    .business-list li {
      width: 23%;
      padding-right: 2%; }
      .business-list li:nth-child(4n) {
        width: 25%;
        padding-right: 0; } }

.business-messages {
  display: block;
  width: 100%;
  float: left; }

.business-message-item {
  width: 100%;
  display: block;
  float: left;
  margin-bottom: 50px; }
  @media (min-width: 768px) {
    .business-message-item {
      width: 48%;
      display: inline-block;
      padding-right: 2%; } }

.business-istone {
  background: url("../img/business/map.svg") 240% 3% no-repeat #e5e5e5;
  background-size: 90%;
  padding: 3em 0 0;
  margin-top: 60px;
  float: left;
  color: #1a1a1a;
  width: 100%; }
  @media (min-width: 768px) {
    .business-istone {
      background: url("../img/business/map.svg") 80% 20% no-repeat #e5e5e5;
      background-size: 60%;
      padding: 6em 0 0; } }

.no-svg .business-istone {
  background: url("../img/business/map.png") 80% 20% no-repeat #e5e5e5; }

.business-pink {
  display: block;
  background: #ee589f;
  color: white;
  text-align: center;
  padding: 34px 0;
  width: 100%;
  clear: both;
  float: left; }
  .business-pink a:hover {
    color: black;
    border-color: black; }

.business-logos {
  margin: 15px 0;
  display: block;
  width: 100%;
  float: left; }
  .business-logos img {
    display: block;
    margin: 0 auto 40px; }

#contact,
.page-template-page-contact {
  background: #1a1a1a;
  color: white; }

#contact-container #contact {
  padding-top: 0; }

#contact {
  padding-top: 65px;
  padding-bottom: 65px;
  overflow: hidden; }

.contact-block, .contact-block-info {
  margin: 0 0 10px; }
  @media (min-width: 768px) {
    .contact-block, .contact-block-info {
      margin: 0 0 10px 0;
      width: 50%;
      display: inline-block; } }
  .contact-block a, .contact-block-info a {
    color: white; }

#contact-container {
  position: fixed;
  z-index: 300;
  bottom: auto;
  left: 0;
  right: 0;
  top: 100%;
  display: none; }
  #contact-container.loaded, #contact-container.toggled {
    display: block; }

.contact-block-info {
  float: left; }
  @media (min-width: 768px) and (max-width: 992px) {
    .contact-block-info {
      width: 100%;
      clear: both;
      float: left;
      text-align: left; } }

.contact-block-social {
  display: block; }
  @media (min-width: 768px) {
    .contact-block-social {
      float: left;
      width: 50%; } }

.contact-block-link {
  display: block; }

.contact-adress {
  width: 100%;
  margin: 0 0 40px; }
  @media (min-width: 993px) {
    .contact-adress {
      float: right;
      width: 165px;
      margin: 0; } }

.contact-map-container {
  position: relative;
  float: left;
  width: 100%; }
  @media (min-width: 766px) {
    .contact-map-container {
      display: inline-block;
      float: right;
      margin-top: 40px;
      width: 46%;
      margin: 30px 0% 40px 3%; } }

/* SVG HASTLE */
.svg-contact-map {
  width: 100%;
  display: block;
  float: right; }
  @media (max-width: 993px) {
    .svg-contact-map {
      max-height: 450px; } }
  @media (min-width: 993px) {
    .svg-contact-map {
      min-height: 450px; } }
  @media (min-width: 768px) {
    .svg-contact-map #office {
      display: none;
      float: right; } }

.svg .svg-contact-map-fallback {
  display: none; }
  @media (min-width: 767px) and (max-width: 992px) {
    .svg .svg-contact-map-fallback {
      display: block; } }

.no-svg .svg-contact-map-fallback {
  display: block;
  width: 100%;
  height: auto; }

.no-svg .svg-contact-map-fallback img {
  display: block;
  float: left;
  width: 100%; }

.svg-map-marker {
  position: absolute;
  width: 50px;
  height: 80px;
  left: 34%;
  bottom: 44%;
  opacity: .9;
  -webkit-transition: all 0.15s ease-out;
          transition: all 0.15s ease-out;
  display: none; }
  .svg-map-marker.loaded {
    bottom: 46%;
    opacity: 1;
    -webkit-transition: all 0.15s ease-in;
            transition: all 0.15s ease-in; }
  @media (min-width: 768px) {
    .svg-map-marker {
      display: block; } }

/* Remove svg map frmo tablets */
@media (min-width: 768px) and (max-width: 992px) {
  .svg-contact-map-fallback {
    width: 100%;
    height: auto;
    display: block; }
  .svg-map-marker,
  .svg-contact-map {
    display: none; } }

.social-media, .social-media-centered {
  display: block;
  width: 100%; }

.social-media-centered {
  text-align: center;
  border-top: 1px solid #ccc;
  padding-top: 25px;
  margin: 40px 0 40px;
  float: left; }
  .social-media-centered li {
    display: inline-block; }

.social-media-centered a {
  display: inline-block;
  width: 44px;
  height: 44px;
  margin: 0 2px;
  opacity: 1;
  -webkit-transition: all 0.7s ease-in;
          transition: all 0.7s ease-in;
  fill: white;
  float: left; }
  @media (min-width: 992px) {
    .social-media-centered a {
      margin: 0 12px; } }
  .social-media-centered a:hover {
    opacity: 0.8;
    -webkit-transition: all 0.15s ease-in;
            transition: all 0.15s ease-in;
    fill: #72BC49; }
  .social-media-centered a img {
    width: 100%;
    height: 100%;
    display: none; }

.social-media-centered a svg {
  position: relative;
  top: 18%; }

.no-svg .social-media-centered a img {
  display: block; }

.nav-social {
  display: none;
  background: #72BC49;
  color: white;
  text-align: left;
  bottom: 65px;
  position: fixed;
  right: 0;
  z-index: 510;
  width: auto; }
  .nav-social.toggled {
    display: block; }

.svg-mail {
  width: 30px; }

.svg-instagram {
  width: 29px; }

.svg-twitter {
  width: 33px; }

.svg-linkedin {
  width: 27px;
  top: 23%; }

.svg-facebook {
  width: 12px; }

.error404 {
  background: url("../img/background/magic_heroslide_404.jpg") center center no-repeat;
  background-size: cover;
  margin-bottom: -65px; }

.article404 {
  position: fixed;
  bottom: 65px;
  left: 5%;
  color: white; }

.page-template-page-healthpicker-php {
  background: rgba(238, 88, 159, 0.15); }
  .page-template-page-healthpicker-php h1 {
    position: relative; }
    .page-template-page-healthpicker-php h1:before {
      position: relative;
      content: "";
      width: 40px;
      height: 40px;
      display: inline-block;
      margin-right: 10px;
      background: url("../img/svg-icons/picker.svg") center center no-repeat;
      background-size: 100%; }

.no-css3 .page-template.page-healthpicker-php h1 {
  padding-left: 44px;
  background: url("../img/png-icons/picker.png") center center no-repeat;
  background-size: auto 100%; }

.no-svg .page-template.page-healthpicker-php h1:before,
.ios .page-template.page-healthpicker-php h1:before {
  background: url("../img/png-icons/picker.png") center center no-repeat;
  background-size: 100%; }

@media (min-width: 700px) {
  .page-narrow h1 {
    width: 50%; } }

.page-narrow-content, .post-list {
  width: 600px;
  max-width: 80%;
  margin: auto; }

.page-narrow .page-narrow-content, .page-narrow .post-list {
  padding-top: 40px;
  border-top: 1px solid black;
  margin-bottom: 3em; }
  .page-narrow .page-narrow-content .h1, .page-narrow .post-list .h1, .page-narrow .page-narrow-content blockquote, .page-narrow .post-list blockquote, .page-narrow .page-narrow-content
  blockquote p,
  blockquote .page-narrow .page-narrow-content p, .page-narrow .post-list
  blockquote p,
  blockquote .page-narrow .post-list p, .page-narrow .page-narrow-content
  blockquote p:last-child,
  blockquote .page-narrow .page-narrow-content p:last-child, .page-narrow .post-list
  blockquote p:last-child,
  blockquote .page-narrow .post-list p:last-child, .page-narrow .page-narrow-content .post-item-sticky h2, .post-item-sticky .page-narrow .page-narrow-content h2, .page-narrow .post-list .post-item-sticky h2, .post-item-sticky .page-narrow .post-list h2 {
    margin: 0 0 25px; }

/* Ze blog */
.post-list-intro {
  margin-bottom: 25px; }
  .post-list-intro h1 {
    margin-bottom: 0;
    margin-top: 3em; }
  @media (max-width: 400px) {
    .post-list-intro br {
      display: none; } }

.post-title {
  margin: 35px 0 25px; }

.post-item h1, .post-item h2, .post-item h3 {
  text-align: center; }

.post-item,
.post-single {
  display: block;
  clear: both;
  float: left;
  width: 100%; }

.post-item {
  width: 100%;
  margin: 0 0 40px;
  padding-top: 40px;
  border-top: 1px solid rgba(26, 26, 26, 0.2);
  position: relative; }
  .post-item a:hover {
    color: #00A99D;
    -webkit-transition: all 0.1s ease-in;
            transition: all 0.1s ease-in; }
  .post-item .post-figure:hover {
    opacity: 0.8;
    -webkit-transition: all 0.1s ease-in;
            transition: all 0.1s ease-in; }
  @media (min-width: 768px) {
    .post-item .post-figure, .post-item .post-content {
      width: 48%; }
    .post-item .post-figure {
      float: right;
      margin: 0; }
    .post-item .post-content {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      padding-bottom: 0;
      border-bottom: 1px solid rgba(26, 26, 26, 0.2); }
    .post-item:nth-child(2n) .post-figure {
      float: left; }
    .post-item:nth-child(2n) .post-content {
      right: 0;
      left: auto; } }

.post-item-title {
  margin: 15px 0 40px;
  color: #1a1a1a; }
  .post-item-title a {
    color: inherit; }

@media (min-width: 768px) {
  .post-content {
    float: right;
    width: 50%; } }

.post-figure {
  margin: 0 0 15px; }
  @media (min-width: 768px) {
    .post-figure {
      margin: 0;
      float: left;
      width: 47%;
      margin-right: 3%; } }

.post-single  {
  padding-bottom: 40px; }

.post-single .post-header {
  margin-bottom: 0px; }

.post-single-content {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 80px; }
  @media (min-width: 768px) {
    .post-single-content {
      max-width: 630px; } }

.post-header .post-date {
  opacity: 1; }

.post-content-relative {
  position: relative;
  overflow: hidden; }

.post-single-back {
  position: absolute;
  left: 0;
  top: 10px;
  opacity: 0.2;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in;
          transition: all 0.2s ease-in; }
  .post-single-back:hover {
    opacity: 1;
    -webkit-transition: all 0.15s ease-in;
            transition: all 0.15s ease-in; }

.post-header .fullscreen-section-content {
  padding-bottom: 110px; }

.post-footer {
  display: none; }

.post-single-meta {
  display: block;
  margin: -30px 0 40px;
  opacity: 0.5; }

.lt-ie9 .post-header.fullscreen-section {
  display: block;
  background-repeat: none; }

.post-nav {
  max-width: 630px;
  width: 80%;
  display: block;
  clear: both;
  overflow: hidden;
  margin: 80px auto 40px;
  padding-top: 40px;
  border-top: 1px solid #1a1a1a; }

.post-nav a {
  text-decoration: none;
  width: 100%;
  float: left;
  margin: 0 0 50px; }
  @media (min-width: 440px) {
    .post-nav a {
      width: 50%; } }
  @media (min-width: 768px) {
    .post-nav a {
      width: 25%; } }
  .post-nav a:hover {
    color: #72BC49; }

.post-nav .post-nav-next {
  float: right; }

.post-nav span {
  display: block;
  float: left;
  width: 100%; }

.post-nav h2 {
  float: left;
  display: block;
  line-height: 0.7;
  margin-top: 5px; }

.post-nav-next {
  float: right; }

.post-nav img {
  width: 100%;
  height: auto;
  opacity: 0.85;
  -webkit-transition: all 0.35s ease-in;
          transition: all 0.35s ease-in; }
  .post-nav img:hover {
    opacity: 0.5;
    -webkit-transition: all 0.15s ease-in;
            transition: all 0.15s ease-in; }
  .post-nav img:active {
    opacity: 1;
    -webkit-transition: all 0.15s ease-in;
            transition: all 0.15s ease-in; }

.author-image {
  display: inline-block;
  float: left;
  width: 50px;
  height: 50px;
  padding: 2px;
  margin: 0 10px 0 0;
  background-size: 100% auto !important;
  border-radius: 25px;
  position: relative;
  top: -5px; }
  .author-image img {
    display: none; }

.no-js .author-image img {
  display: block;
  width: auto;
  height: 100%; }

.post-list-sticky {
  width: 100%;
  overflow: hidden;
  height: 210px; }
  @media (min-width: 600px) {
    .post-list-sticky {
      height: 480px; } }

.post-item-sticky {
  height: 100%;
  width: 100%;
  float: left;
  position: relative;
  display: inline;
  margin: 0;
  padding: 0; }
  .post-item-sticky .wp-post-image {
    max-width: auto;
    width: 100%;
    height: auto; }
  .post-item-sticky h2 {
    font-size: 2em;
    margin: 0 0 5px; }
    @media (min-width: 600px) {
      .post-item-sticky h2 {
        font-size: 3em;
        margin: 0 0 14px;
        max-width: 50%; } }

.post-sticky-content {
  position: absolute;
  left: 5%;
  width: 100%;
  color: white;
  -webkit-transition: all 0.01s ease-in-out;
          transition: all 0.01s ease-in-out;
  bottom: 20px; }
  .post-sticky-content a {
    color: white; }
    .post-sticky-content a:hover {
      color: #00A99D; }
  @media (min-width: 600px) {
    .post-sticky-content {
      bottom: 30px; } }

.sticky-scroll-container {
  width: auto;
  height: 100%;
  overflow: hidden;
  position: relative; }

.sticky-scroll-content {
  width: 100%;
  height: inherit;
  position: absolute;
  left: 0;
  -webkit-transition: all 0.1s ease-in-out;
          transition: all 0.1s ease-in-out; }

.sticky-scroll-content.slide {
  left: -20%;
  -webkit-transition: all 0.25s ease-in-out;
          transition: all 0.25s ease-in-out; }
  @media (min-width: 600px) {
    .sticky-scroll-content.slide {
      left: -10%; } }
  @media (min-width: 993px) {
    .sticky-scroll-content.slide {
      left: -15%; } }
  .sticky-scroll-content.slide .post-sticky-content {
    left: 25%;
    -webkit-transition: all 0.5s ease-in-out;
            transition: all 0.5s ease-in-out; }
    @media (min-width: 600px) {
      .sticky-scroll-content.slide .post-sticky-content {
        left: 15%; } }
    @media (min-width: 993px) {
      .sticky-scroll-content.slide .post-sticky-content {
        left: 20%; } }

.sticky-scroll-content.slide.next {
  left: -85%;
  -webkit-transition: all 0.25s ease-in-out;
          transition: all 0.25s ease-in-out; }
  @media (min-width: 600px) {
    .sticky-scroll-content.slide.next {
      left: -85%; } }
  @media (min-width: 993px) {
    .sticky-scroll-content.slide.next {
      left: -85%; } }
  .sticky-scroll-content.slide.next .post-sticky-content {
    left: 5%;
    -webkit-transition: all 0.5s ease-in-out;
            transition: all 0.5s ease-in-out; }
    @media (min-width: 600px) {
      .sticky-scroll-content.slide.next .post-sticky-content {
        left: 5%; } }
    @media (min-width: 993px) {
      .sticky-scroll-content.slide.next .post-sticky-content {
        left: 5%; } }

.sticky-button-next {
  width: 15%;
  height: 100%;
  padding: 0;
  position: absolute;
  background: transparent;
  left: 100%;
  top: 0;
  bottom: 0;
  z-index: 100;
  background: url("../img/svg-icons/arrow_right.svg") center center no-repeat rgba(238, 88, 159, 0.3);
  background-size: 32px 32px;
  text-indent: -9999px; }
  .sticky-button-next.toggled {
    left: 85%;
    right: 0;
    background: url("../img/svg-icons/arrow_left.svg") center center no-repeat rgba(238, 88, 159, 0.3);
    background-size: 32px 32px;
    -webkit-animation: stickyInOut  0.3s linear forward;
            animation: stickyInOut  0.3s linear forward; }

@-webkit-keyframes stickyInOut {
  0% {
    opacity: 1; }
  50% {
    opacity: .5; }
  100% {
    opacity: 1; } }

@keyframes stickyInOut {
  0% {
    opacity: 1; }
  50% {
    opacity: .5; }
  100% {
    opacity: 1; } }

.post-filter-container {
  width: 100%;
  float: left;
  clear: both;
  margin: 0 0 40px;
  box-shadow: inset 0 -1px 1px rgba(26, 26, 26, 0.2); }

.post-filter-first {
  float: left;
  text-align: right;
  width: 47%;
  padding: 0 3% 0 0;
  background: #dedede; }
  .post-filter-first img {
    width: 16px;
    height: 12px;
    float: right;
    padding-left: 10px;
    position: relative;
    top: 18px; }

.post-filter-last {
  width: 46%;
  text-align: left;
  background: none;
  padding: 0 2%; }

.post-filter-first {
  line-height: 50px;
  height: 50px;
  font-size: 1em;
  text-decoration: none; }

.post-filters-container {
  position: relative;
  float: left;
  width: 50%; }

.post-filters {
  position: absolute;
  font: 100 1em/2em "Neuzeit", Helvetica, sans-serif;
  left: 0;
  background: #f2f2f2;
  padding: 10px 15px;
  width: 140px;
  /* This part has to do with the toggled */
  opacity: 0;
  top: 20px;
  z-index: -100;
  -webkit-transition: all 0.4s ease-out;
          transition: all 0.4s ease-out;
  /* end of toggled */ }
  @media (min-width: 768px) {
    .post-filters {
      min-width: 200px;
      width: 70%;
      max-width: 300px; } }
  .post-filters.toggled {
    top: 0;
    z-index: 300;
    -webkit-transition: all 0.25s ease-in-out;
            transition: all 0.25s ease-in-out;
    opacity: 1; }
  .post-filters h3 {
    font: 100 1em/2em "Neuzeit", Helvetica, sans-serif; }

.post-filter-item {
  display: block;
  width: 100%;
  float: left;
  min-height: 2em;
  height: 2em;
  background: url("../img/postfilter/standard.svg") left center no-repeat transparent;
  background-size: 24px 24px; }

.post-filter-item a {
  display: block;
  text-decoration: none;
  padding-left: 32px;
  text-transform: capitalize; }
  .post-filter-item a:hover {
    background: url("../img/postfilter/standard.svg") left center no-repeat transparent;
    background-size: 24px 24px;
    color: #ee589f;
    -webkit-transition: all 0s;
            transition: all 0s; }
  .post-filter-item a.selected {
    background: url("../img/postfilter/selected.svg") left center no-repeat transparent;
    background-size: 24px 24px;
    color: #ee589f;
    -webkit-transition: all 0s;
            transition: all 0s; }

.post-filter-count {
  float: right;
  display: inline-block; }

.postnav {
  display: block;
  width: 100%;
  margin: 15px 0 35px;
  float: left; }
  .postnav__older a,
  .postnav__newer a {
    display: inline-block;
    float: left;
    width: 100%;
    text-align: center;
    border: 1px solid;
    color: #222;
    border-radius: 3px;
    margin: 0 0 15px;
    padding: 0;
    line-height: 2.5;
    height: 2.5em;
    text-decoration: none;
    -webkit-transition: all 0.35s ease-in;
            transition: all 0.35s ease-in; }
    @media (min-width: 600px) {
      .postnav__older a,
      .postnav__newer a {
        width: auto;
        margin: 0;
        padding: 0 20px; } }
    .postnav__older a:hover,
    .postnav__newer a:hover {
      -webkit-transition: all 0.15s ease-out;
              transition: all 0.15s ease-out;
      color: #00A99D; }
  .postnav__newer a {
    float: right; }

/* Genereal / specific stuff  */
.sticky-button-next, .button-ghost, .button-ghost-cta, .button-filter, input[type=submit] {
  outline: none;
  cursor: pointer;
  box-shadow: none;
  box-shadow: none;
  display: inline-block;
  border: none;
  text-decoration: none; }

.button-ghost, .button-ghost-cta {
  padding: 0 20px;
  border: 1px solid white;
  color: white;
  line-height: 2.5;
  min-height: 2.5em;
  font-size: 1em;
  border-radius: 3px; }
  .button-ghost:hover, .button-ghost-cta:hover {
    color: #00A99D;
    border: 1px solid #00A99D; }

.button-ghost-cta {
  border: 1px solid #1a1a1a;
  color: #1a1a1a; }
  .button-ghost-cta:hover {
    color: #00A99D;
    border-color: #00A99D; }

.button-filter {
  line-height: 50px;
  height: 50px;
  font-size: 1em;
  margin: 0;
  padding-left: 45px;
  background: url("../img/postfilter/arrow-down-black.svg") 20px center no-repeat;
  background-size: 16px 16px; }
  @media (min-width: 768px) {
    .button-filter {
      width: 80%; } }

.button-filter-close {
  position: absolute;
  top: 0px;
  right: 0px;
  display: block;
  width: 44px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  background: url("../img/png-icons/close-black.png") center center no-repeat;
  background-size: 20px 20px;
  text-index: -999px; }

.no-svg .button-filter-close {
  background: url("../img/png-icons/close-black-black.png") center center no-repeat;
  background-size: 20px 20px; }

.button-cta-container,
.business-cta-container {
  text-align: center;
  display: block;
  clear: both;
  margin-bottom: 40px; }

.istone-tooltip {
  position: absolute;
  display: none;
  width: 270px;
  padding: 10px 50px 10px 25px;
  background: #666;
  color: white;
  font: 300 0.875em/1.5 "Neuzeit", Helvetica, sans-serif;
  margin: 0;
  z-index: 490;
  border-radius: 5px;
  right: 90px;
  bottom: 65px;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
  z-index: 1; }
  @media (max-width: 767px) {
    .istone-tooltip {
      display: none;
      z-index: -9999;
      left: -9999px; } }
  .istone-tooltip a {
    color: inherit;
    text-decoration: underline; }
    .istone-tooltip a:hover {
      color: #72BC49; }
  .istone-tooltip:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 100%;
    right: 80px;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 10px solid #666; }
  .istone-tooltip.toggled {
    display: block;
    bottom: 55px;
    padding: 30px 50px 30px 25px;
    opacity: 1;
    z-index: 522;
    -webkit-transition: all 0.3s ease-out;
            transition: all 0.3s ease-out; }

.nav-istone:hover + .istone-tooltip {
  display: block; }

.lt-ie9 .is-frontpage .istone-tooltip {
  position: fixed;
  left: auto;
  right: auto;
  top: auto;
  bottom: auto;
  width: auto;
  margin: 10px 5%;
  float: left;
  opacity: 1;
  left: 0;
  right: 0;
  bottom: 0; }

.lt-ie9 .istone-tooltip {
  display: none;
  opacity: 0;
  left: -9999; }

.istone-tooltip-close {
  border: none;
  background: none;
  box-shadow: none;
  position: absolute;
  top: 0;
  right: 0;
  height: 44px;
  width: 44px;
  display: block;
  background: transparent;
  cursor: pointer;
  outline: none; }
  .istone-tooltip-close svg {
    position: absolute;
    top: 5px;
    right: 5px;
    height: 35px;
    width: 20px;
    display: block; }

.no-svg .istone-tooltip-close {
  background: url("../img/png-icons/close.png") center center no-repeat;
  background-size: 44px; }

.fullscreen-section.post-header {
  overflow: hidden;
  position: relative; }

.fullscreen-section {
  position: relative; }

.fullscreen-section-content {
  position: absolute;
  bottom: 0px;
  color: white;
  width: 100%; }
  .fullscreen-section-content a {
    color: inherit; }

.post-header.fullscreen-section {
  background-position: center center;
  background-repeat: no-repeat; }
  @media (max-width: 600px) {
    .post-header.fullscreen-section {
      background-size: auto 100%; } }
  @media (min-width: 993px) {
    .post-header.fullscreen-section {
      background-size: cover; } }

.people h1 {
  margin-top: 3em;
  margin-bottom: 60px; }

.persona {
  display: block;
  width: 50%;
  float: left;
  margin: 0;
  padding: 0 1%;
  margin-bottom: 15px;
  position: relative;
  box-sizing: border-box; }
  @media (min-width: 768px) {
    .persona {
      display: inline;
      width: 25%;
      padding: 0 1%; } }
  .persona img {
    width: 100%;
    height: auto; }

.info {
  height: 80px;
  display: block;
  clear: both;
  margin: 0; }

.persona-title,
.persona-name,
.persona-info {
  margin: 0; }

.persona-name {
  font: bold 1em/1.5 "Neuzeit", Helvetica, sans-serif; }

.persona-title {
  font-size: 24px;
  line-height: 1.2; }

.persona-info p, .persona-info h2, .persona-info h3, .persona-info h4, .persona-info span {
  margin: 0; }

.people-intro-block {
  background: #1a1a1a;
  color: white;
  overflow: hidden;
  width: 100%;
  float: left; }
  @media (min-width: 768px) {
    .people-intro-block {
      text-align: center; } }

.people-intro-block h1 {
  margin: 1.5em auto;
  display: block;
  max-width: 760px;
  width: 90%; }
  @media (min-width: 768px) {
    .people-intro-block h1 {
      width: 80%; } }

.people-contact-block {
  display: block;
  width: 100%;
  position: relative;
  text-align: center;
  margin-bottom: 4em; }
  .people-contact-block a:hover {
    color: #72BC49; }
  .people-contact-block.black {
    background: #1a1a1a;
    color: white; }
  @media (max-width: 767px) {
    .people-contact-block {
      max-width: 80%;
      margin: 0 10% 70px; }
      .people-contact-block br {
        display: none; } }

.people-contact-heading {
  margin: 0;
  font-size: 5em;
  line-height: 250px;
  height: 300px;
  display: block;
  text-align: center; }
  @media (min-width: 768px) {
    .people-contact-heading {
      font-size: 7em;
      line-height: 300px;
      height: 330px; } }
  @media (min-width: 1600px) {
    .people-contact-heading {
      line-height: 300px;
      height: 320px; } }

.people-centered-content {
  display: block;
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 25%; }
  @media (min-width: 768px) {
    .people-centered-content {
      bottom: 22%; } }
  @media (min-width: 1600px) {
    .people-centered-content {
      bottom: 20%; } }

.js-people-container {
  margin-bottom: -10px;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  height: auto; }

.js-people-scroll {
  width: 100%;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  white-space: nowrap; }
  @media (min-width: 768px) {
    .js-people-scroll {
      overflow-x: scroll; } }

#overlay {
  z-index: 100;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in;
          transition: all 0.2s ease-in;
  display: none; }
  #overlay img {
    width: 100%;
    height: 100%;
    opacity: 0.5; }
  #overlay.loaded, #overlay.toggled {
    display: block; }
  #overlay.white {
    background: rgba(255, 255, 255, 0.3); }
  #overlay.green {
    background: rgba(114, 188, 73, 0.3); }
  #overlay.black {
    background: rgba(0, 0, 0, 0.3); }

canvas#blurOverlay {
  width: 100%;
  height: 100%; }

.startpage-promotion {
  position: absolute;
  bottom: 170px;
  width: 100%;
  color: white;
  -webkit-transition: all .3s ease-in;
          transition: all .3s ease-in; }
  .startpage-promotion a {
    color: inherit; }
    .startpage-promotion a:hover {
      color: #00A99D;
      -webkit-transition: all 0.1s ease-in;
              transition: all 0.1s ease-in; }

.startpage-promotion .promotion-title {
  margin: 0 0 10px; }

.promotion, .promotion-white {
  position: relative; }

.promotion-white {
  color: white; }

.promotion-content {
  position: absolute;
  bottom: 170px;
  width: 100%; }

.promotion-title {
  max-width: 650px;
  margin-top: 1em; }

.promotion-title-sub {
  display: block;
  font-size: 0.5em;
  line-height: 32px; }
  @media (min-width: 500px) {
    .promotion-title-sub {
      display: inline; } }

.promotion-title a .promotion-title-sub {
  text-decoration: underline; }

.cookie-message {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 65px;
  text-align: center;
  background: #1a1a1a;
  color: white;
  width: 100%;
  padding: 0 5px;
  z-index: 500 -10; }
  .cookie-message.toggled {
    display: block; }

.cookie-message-container {
  font-size: 1em;
  line-height: 32px;
  padding: 15px 0; }

.cookie-message-toggler {
  outline: none;
  cursor: pointer;
  background: none;
  box-shadow: none;
  padding: 0;
  font: 300 1em/32px "NeuzeitHeavy", Helvetica, sans-serif;
  border: none;
  color: inherit;
  text-decoration: underline;
  display: inline; }

.page-template-page-contact .cookie-message {
  bottom: 0;
  color: #1a1a1a;
  background: #72BC49; }

.messagebubble {
  display: inline-block;
  width: auto;
  padding: 10px;
  border-radius: 5px;
  position: relative;
  margin-bottom: 20px; }
  .messagebubble:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 100%;
    right: 45%;
    left: 45%;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent; }

.people-talent-form {
  display: block;
  max-width: 300px;
  width: 80%;
  margin: auto; }

input[type=text],
input[type=email] {
  padding: 0;
  margin: 0 0 20px;
  font: normal 1em/36px "Neuzeit", Helvetica, sans-serif;
  height: 36px;
  display: block;
  width: 100%;
  float: left;
  clear: both;
  color: white;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  outline: none;
  background: rgba(255, 255, 255, 0.01); }
  input[type=text]:active, input[type=text]:focused,
  input[type=email]:active,
  input[type=email]:focused {
    -webkit-transition: all 0.15s ease-in;
            transition: all 0.15s ease-in;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    background: rgba(255, 255, 255, 0.9);
    color: #1a1a1a; }

input[type=submit] {
  background: none;
  border: none;
  box-shadow: none;
  display: block;
  width: 100%;
  background: transparent;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.5);
  font: normal 1em/40px "Neuzeit", Helvetica, sans-serif;
  height: 40px;
  padding: 0 5%;
  margin: 0 0 20px;
  -webkit-transition: all 0.15s ease-in;
          transition: all 0.15s ease-in; }
  input[type=submit]:hover {
    -webkit-transition: all 0.15s ease-in;
            transition: all 0.15s ease-in;
    background: white;
    color: #1a1a1a; }

/*  Masonry */
/* Basicz */
.pre-people img,
#masonry img {
  width: auto;
  height: auto;
  overflow: hidden;
  float: left; }
  @media (max-width: 400px) {
    .pre-people img,
    #masonry img {
      max-height: 220px; } }

#masonry .people-contact-block {
  display: block;
  float: left;
  clear: both;
  width: 100%; }
  @media (min-width: 768px) {
    #masonry .people-contact-block {
      width: 50%;
      display: inline;
      float: right;
      clear: none; } }

.pre-people .block,
#masonry .block {
  overflow: hidden;
  width: 50%;
  height: auto;
  float: left;
  display: inline-block; }
  @media (max-width: 400px) {
    .pre-people .block,
    #masonry .block {
      max-height: 220px; } }
  @media (min-width: 768px) {
    .pre-people .block,
    #masonry .block {
      width: 25%;
      max-height: auto; } }
  @media (min-width: 1600px) {
    .pre-people .block,
    #masonry .block {
      width: 16.6%; } }

.pre-people .block-wide,
#masonry .block-wide {
  width: 100%;
  height: auto; }
  @media (min-width: 768px) {
    .pre-people .block-wide,
    #masonry .block-wide {
      width: 50%; } }

/*!
Animate.css - http://daneden.me/animate
Licensed under the MIT license - http://opensource.org/licenses/MIT

Copyright (c) 2014 Daniel Eden
*/
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite; }

.animated.hinge {
  -webkit-animation-duration: 2s;
  animation-duration: 2s; }

@-webkit-keyframes bounceInLeft {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
    transform: translate3d(-3000px, 0, 0); }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
    transform: translate3d(25px, 0, 0); }
  75% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0); }
  90% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0); }
  100% {
    -webkit-transform: none;
    transform: none; } }

@keyframes bounceInLeft {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
    transform: translate3d(-3000px, 0, 0); }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
    transform: translate3d(25px, 0, 0); }
  75% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0); }
  90% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0); }
  100% {
    -webkit-transform: none;
    transform: none; } }

.bounceInLeft {
  -webkit-animation-name: bounceInLeft;
  animation-name: bounceInLeft; }

@-webkit-keyframes bounceInRight {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0);
    transform: translate3d(3000px, 0, 0); }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0);
    transform: translate3d(-25px, 0, 0); }
  75% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0); }
  90% {
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0); }
  100% {
    -webkit-transform: none;
    transform: none; } }

@keyframes bounceInRight {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0);
    transform: translate3d(3000px, 0, 0); }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0);
    transform: translate3d(-25px, 0, 0); }
  75% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0); }
  90% {
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0); }
  100% {
    -webkit-transform: none;
    transform: none; } }

.bounceInRight {
  -webkit-animation-name: bounceInRight;
  animation-name: bounceInRight; }

@-webkit-keyframes bounceInUp {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 3000px, 0);
    transform: translate3d(0, 3000px, 0); }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0); }
  75% {
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0); }
  90% {
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0); }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

@keyframes bounceInUp {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0); }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0); }
  75% {
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0); }
  90% {
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0); }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

.bounceInUp {
  -webkit-animation-name: bounceInUp;
  animation-name: bounceInUp; }

@-webkit-keyframes bounce {
  0%, 20%, 53%, 80%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  40%, 43% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0); }
  70% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0); }
  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0); } }

@keyframes bounce {
  0%, 20%, 53%, 80%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  40%, 43% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0); }
  70% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0); }
  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0); } }

.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom; }

/*
	IE
*/
/* IE stuff
	header non absolute;
*/
.lt-ie9 html {
  padding-bottom: 0; }

.lt-ie9 .post-list img {
  max-height: auto;
  height: auto;
  width: 100%; }
/*# sourceMappingURL=site.css.map */