/* Settings and variablez */
/* need to be lower than nav for 
	tooltip to be over it */
/* Meat meat moo */
@import url(http://fonts.googleapis.com/css?family=Press+Start+2P);
header, nav, article, aside, footer, section {
  display: block; }

form {
  margin: 0; }

fieldset {
  margin: 0;
  padding: 0;
  border: 0; }

figure {
  margin: 0; }

.image-align-right {
  float: right;
  margin: 0 0 10px 20px; }

.image-align-left {
  float: left;
  margin: 0 20px 10px 0; }

ul, ol {
  margin: 0;
  padding: 0;
  list-style-type: none; }

dl {
  font-size: 1.4em; }

dd, dt {
  margin: 0 0 3px;
  float: left;
  width: 50%; }

dt {
  font-weight: bold; }

.clearFix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

body {
  background: #f2f2f2;
  color: #1a1a1a;
  margin: 0; }

.page-template-page-business ::-moz-selection {
  background: #00b1af;
  color: white; }

.page-template-page-business ::selection {
  background: #00b1af;
  color: white; }

::-moz-selection {
  background: #ee589f;
  color: white; }

::selection {
  background: #ee589f;
  color: white; }

.logo {
  position: absolute;
  left: 10%;
  top: 5%;
  z-index: 100000;
  width: 135px; }

a {
  text-decoration: underline;
  color: inherit;
  -webkit-transition: all 0.25s ease-in;
          transition: all 0.25s ease-in; }
  a:hover {
    color: #00A99D;
    -webkit-transition: all 0.1s ease-in;
            transition: all 0.1s ease-in; }

.clearfix:after {
  content: "";
  display: block;
  clear: both; }

a img {
  border: none;
  display: block; }

img {
  max-width: 100%;
  height: auto; }

.container, .people {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  clear: both; }
  @media (min-width: 1139px) {
    .container, .people {
      max-width: 1140px; } }

.text-center {
  text-align: center; }

.relative {
  position: relative; }

.hidden {
  display: none;
  visibility: hidden; }

.skip {
  position: absolute;
  top: -30000px;
  left: -30000px; }

.error404 .space-top {
  padding-top: 15%; }

@font-face {
  font-family: Jenna;
  src: url("../fonts/JennaSue/JennaSue.ttf");
  font-weight: normal; }

@font-face {
  font-family: Neuzeit;
  src: url("../fonts/Neuzeit/NeuzeitSLTStd-Book.otf") format("opentype");
  font-weight: normal; }

@font-face {
  font-family: NeuzeitHeavy;
  src: url("../fonts/Neuzeit/NeuzeitSLTStd-BookHeavy 2.otf") format("opentype");
  font-weight: bold; }

body {
  font: 300 17px/24px "Press Start 2P", sans-serif;
  font: 300 1.06025em/1.5 "Press Start 2P", sans-serif; }
  @media (max-width: 400px) and (max-width: 700px) {
    body {
      font: 300 0.9em/1.4 "Press Start 2P", sans-serif; } }

p {
  font-size: 17px;
  line-height: 24px;
  margin: 0 0 40px; }
  p:last-child {
    margin-bottom: 0; }
  p a {
    text-decoration: underline;
    color: inherit; }

sub, sup {
  line-height: 0; }

.page-title {
  margin-top: 3em; }

h1, .h1, blockquote,
blockquote p,
blockquote p:last-child {
  margin: 2em 0 50px;
  font: bold 3em/0.8 "Press Start 2P", sans-serif; }
  @media (max-width: 768px) and (max-height: 640px) {
    h1, .h1, blockquote,
    blockquote p,
    blockquote p:last-child {
      font: bold 2.2em/0.8 "Press Start 2P", sans-serif;
      margin-top: 3em; } }

#contact h1 {
  margin-bottom: 30px;
  margin-top: 70px; }

#contact p {
  margin-bottom: 24px; }

#contact a:hover {
  color: #72BC49; }

.post-single .post-title {
  margin: 2em 0 40px; }

.post-single .post-header .post-title {
  margin: 0 0 10px; }

h2, .h2 {
  margin: 0;
  font: normal 1.5em/1.5 "Press Start 2P", sans-serif; }

h3 {
  margin: 0;
  font: normal 1.2em/1.5 "Press Start 2P", sans-serif; }

h4, .h4 {
  margin: 0;
  font: bold 1.2em/1.2 "Press Start 2P", sans-serif; }

h1 a, h2 a, h3 a, h4 a, h5 a {
  color: black;
  text-decoration: none; }

blockquote,
blockquote p,
blockquote p:last-child {
  font: 300 42px/1 "Press Start 2P", sans-serif;
  margin: 15px 0 40px;
  text-align: center;
  display: block;
  clear: both; }

/*
h1, h2, h3 {
    br {
        display: none;
        @media (min-width: 768px) {
            display: block;
        }
} */
sup,
h1 sup {
  font-size: 0.25em;
  top: -10px;
  position: relative; }

/* Framework and navigations */
.header-top-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background: white;
  background: rgba(255, 255, 255, 0.9);
  z-index: 500;
  line-height: 65px;
  height: 65px; }

.header-bottom-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background: white;
  background: rgba(255, 255, 255, 0.9);
  z-index: 500;
  line-height: 65px;
  height: 65px; }
  @media (max-width: 767px) {
    .header-bottom-bar .container, .header-bottom-bar .people {
      width: 100%; } }

.lt-ie9 .header {
  width: 100%;
  clear: both; }

.lt-ie9 .header-bottom-bar {
  width: 100%;
  clear: both; }

.lt-ie9 .header-nav-contact-toggler {
  display: inline-block;
  position: static; }

.nav-svg-magiclogo {
  width: 80px;
  height: 34px;
  height: auto;
  position: relative;
  top: 15px; }

@media (min-width: 768px) {
  .header-bottom-bar .nav-svg-magiclogo {
    opacity: 0; } }

.header-link-home {
  display: block;
  float: left; }
  .header-link-home img {
    width: 30px;
    height: 30px;
    padding: 12px;
    margin: 0;
    position: relative;
    top: 4px; }
    @media (min-width: 768px) {
      .header-link-home img {
        display: none; } }
  @media (max-width: 767px) {
    .header-link-home .nav-svg-magiclogo {
      display: none; } }
  @media (min-width: 768px) {
    .header-link-home {
      display: inline-block; } }

/* Added text for screen readers, hidden with this */
.header-link-home-text {
  text-indent: -99999px;
  position: relative;
  float: left;
  display: block; }

.no-svg .header-link-home {
  background: url("../img/magiclogoblack.png") center center no-repeat;
  width: 80px;
  height: auto; }

/* Adds some annoying bug the the social nav in safari.. */
.header-bottom-bar a {
  color: #1a1a1a;
  fill: #1a1a1a;
  -webkit-transition: all 0.3s ease-in;
          transition: all 0.3s ease-in; }
  .header-bottom-bar a:hover, .header-bottom-bar a:active, .header-bottom-bar a:focus {
    fill: #72BC49;
    color: #72BC49;
    -webkit-transition: all 0.15s ease-in;
            transition: all 0.15s ease-in; }

.header-logo {
  width: 95px;
  height: 60px;
  position: absolute;
  top: 25px;
  z-index: 10000; }

.lt-ie9 .header-logo {
  height: auto;
  float: left;
  clear: both;
  display: block;
  margin: 15px 0 5px; }

.no-svg .header-logo-img,
.lt-ie9 .header-logo-img {
  width: 120px;
  display: block;
  top: 10px; }

.header-logo-img-white {
  display: none; }

.is-frontpage .header-svg-magiclogo,
.single-post .header-svg-magiclogo,
.page-template-page-contact .header-svg-magiclogo {
  fill: white; }

.is-frontpage .header-logo-img-black,
.single-post .header-logo-img-black,
.page-template-page-contact .header-logo-img-black {
  display: none; }

.is-frontpage .header-logo-img-white,
.single-post .header-logo-img-white,
.page-template-page-contact .header-logo-img-white {
  display: block; }

@media (min-width: 768px) {
  [data-hook="animate-on-scroll"] {
    position: relative;
    left: -90px;
    -webkit-transition: all 0.25s ease-in;
            transition: all 0.25s ease-in; }
    [data-hook="animate-on-scroll"] .nav-svg-magiclogo {
      opacity: 0;
      -webkit-transition: all 0.25s ease-in;
              transition: all 0.25s ease-in; }
    [data-hook="animate-on-scroll"].toggled {
      left: 0;
      -webkit-transition: all 0.25s ease-out;
              transition: all 0.25s ease-out; }
      [data-hook="animate-on-scroll"].toggled .nav-svg-magiclogo {
        opacity: 1;
        -webkit-transition: all 0.25s ease-out;
                transition: all 0.25s ease-out; } }

.header .nav-contact-toggler {
  border: none;
  background: #ee589f;
  color: white;
  box-shadow: 0;
  outline: none;
  cursor: pointer;
  width: 80px;
  height: 65px;
  position: absolute;
  right: 0;
  bottom: 0;
  color: white;
  fill: white;
  text-decoration: none;
  z-index: 510;
  line-height: 65px;
  font-size: 14px;
  text-align: center;
  -webkit-transition: all 0.15s ease-in;
          transition: all 0.15s ease-in; }
  .header .nav-contact-toggler:hover {
    background: #e21777;
    color: white; }
  .header .nav-contact-toggler:focus {
    color: white; }
  .header .nav-contact-toggler.toggled, .header .nav-contact-toggler:active {
    background: #1a1a1a;
    color: white;
    fill: white;
    -webkit-transition: all 0.4s ease-in;
            transition: all 0.4s ease-in; }

.no-svg .header .nav-contact-toggler {
  background: url("../img/png-icons/contact.png") center center no-repeat #ee589f; }

.no-svg .header .nav-contact-toggler.toggled {
  background: url("../img/png-icons/close.png") center center no-repeat #1a1a1a !important; }

.header-top-bar .nav-contact-toggler {
  bottom: auto;
  top: 0; }

.svg-contact {
  top: 8px; }

.svg-close {
  top: 15px; }

.svg-contact, .svg-close {
  position: absolute;
  left: 29%;
  width: 32px;
  height: 40px;
  fill: white;
  -webkit-transition: all 0.3s ease-in;
          transition: all 0.3s ease-in; }

.nav-contact-toggler.toggled .svg-close {
  opacity: 1;
  -webkit-transition: all 0.15s ease-in;
          transition: all 0.15s ease-in; }

.nav-contact-toggler.toggled .svg-contact,
.nav-contact-toggler .svg-close,
.nav-contact-toggler.toggled .icon-text {
  opacity: 0;
  -webkit-transition: all 0.15s ease-in;
          transition: all 0.15s ease-in; }

.icon-text {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: block;
  height: 22px;
  line-height: 22px;
  font-size: 11px;
  text-align: center;
  font-weight: 100; }

.fullscreen-nav {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 9000;
  background: rgba(0, 169, 157, 0.9);
  color: white; }

.fullscreen-nav a {
  color: white; }
  .fullscreen-nav a:hover {
    opacity: 0.2;
    -webkit-transition: all 0.15s ease-in;
            transition: all 0.15s ease-in; }

.fullscreen-nav-container {
  min-height: 100%;
  height: 100%;
  position: relative;
  float: left;
  width: 100%; }

.fullscreen-nav-toggler {
  position: fixed;
  right: 40px;
  top: 20px;
  z-index: 9010;
  background: #00A99D;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  cursor: pointer; }
  .fullscreen-nav-toggler.open {
    background: transparent; }

.navigation {
  text-align: center;
  display: block;
  margin-top: 8em;
  margin-bottom: 8em; }
  @media (min-width: 768px) {
    .navigation {
      margin-top: 130px;
      margin-bottom: 100px; } }

.menu-item a {
  font: 700 3.65em/1 "Press Start 2P", sans-serif;
  text-decoration: none;
  -webkit-transition: all 0.4s ease-out;
          transition: all 0.4s ease-out;
  color: white; }
  .menu-item a:hover {
    text-decoration: line-through;
    opacity: 0.2;
    -webkit-transition: all 0.15s ease-in;
            transition: all 0.15s ease-in; }

.current-menu-item a {
  color: black; }

.fullscreen-nav-container .contact-actions {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  position: fixed;
  bottom: 80px; }

.contact-actions {
  display: block;
  float: left;
  clear: both;
  width: 100%;
  text-align: center; }
  @media (min-width: 992px) {
    .contact-actions {
      max-height: 80px; } }

.contact-actions-container,
.contact-social {
  display: block;
  clear: both; }
  @media (min-width: 768px) {
    .contact-actions-container,
    .contact-social {
      text-align: left;
      clear: none;
      display: inline-block; } }
  @media (min-width: 992px) {
    .contact-actions-container,
    .contact-social {
      clear: right; } }

.contact-actions-container a {
  display: block; }
  @media (min-width: 480px) {
    .contact-actions-container a {
      display: inline-block; } }

.contact-social-heading,
.contact-actions a {
  font: 800 1.625em/1 "Press Start 2P", sans-serif;
  text-decoration: none;
  color: white;
  line-height: 80px; }

.contact-actions a {
  text-decoration: none;
  color: white;
  margin: 0 8px;
  padding: 0;
  line-height: 80px; }
  .contact-actions a:hover {
    text-decoration: line-through;
    opacity: 0.2;
    -webkit-transition: all 0.15s ease-in;
            transition: all 0.15s ease-in; }
  .contact-actions a span {
    float: left;
    display: inline-block;
    margin-right: 10px;
    position: relative;
    top: 15px; }

.contact-social-heading {
  margin-left: 25px;
  margin-right: 10px;
  clear: both;
  display: block; }
  @media (min-width: 768px) {
    .contact-social-heading {
      display: inline-block;
      clear: none; } }

.contact-social img {
  height: 44px; }
  @media (min-wid: 768px) {
    .contact-social img {
      position: relative;
      top: 16px; } }

.contact-social a {
  display: inline-block; }

.fullscreen-nav-container svg {
  fill: white; }

.nav-etc {
  display: block;
  float: left;
  clear: both;
  text-align: center;
  line-height: 80px;
  height: 80px;
  width: 100%;
  position: fixed;
  bottom: 0; }
  .nav-etc a {
    margin: 0 5px; }

.js-nav-visible {
  max-height: 100%;
  max-width: 100%;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: fixed; }
  .js-nav-visible .fullscreen-nav {
    display: block; }
  .js-nav-visible .logo-header {
    position: fixed; }
  .js-nav-visible .header-logo-img-black {
    display: none; }
  .js-nav-visible .header-logo-img-white {
    display: block; }

.icon-text {
  background: url("../img/icons/icon-text.png") center center no-repeat;
  background-size: auto 100%;
  height: 44px;
  width: 50px; }

.icon-phone {
  background: url("../img/icons/icon-phone.png") center center no-repeat;
  background-size: auto 100%;
  height: 44px;
  width: 40px; }

.icon-pin {
  background: url("../img/icons/icon-pin.png") center center no-repeat;
  background-size: auto 100%;
  height: 44px;
  width: 34px; }

#contact,
.page-template-page-contact {
  background: #1a1a1a;
  color: white; }

#contact-container #contact {
  padding-top: 0; }

#contact {
  padding-top: 65px;
  padding-bottom: 65px;
  overflow: hidden; }

.contact-block, .contact-block-info {
  margin: 0 0 10px; }
  @media (min-width: 768px) {
    .contact-block, .contact-block-info {
      margin: 0 0 10px 0;
      width: 50%;
      display: inline-block; } }
  .contact-block a, .contact-block-info a {
    color: white; }

#contact-container {
  position: fixed;
  z-index: 300;
  bottom: auto;
  left: 0;
  right: 0;
  top: 100%;
  display: none; }
  #contact-container.loaded, #contact-container.toggled {
    display: block; }

.contact-block-info {
  float: left; }
  @media (min-width: 768px) and (max-width: 992px) {
    .contact-block-info {
      width: 100%;
      clear: both;
      float: left;
      text-align: left; } }

.contact-block-social {
  display: block; }
  @media (min-width: 768px) {
    .contact-block-social {
      float: left;
      width: 50%; } }

.contact-block-link {
  display: block; }

.contact-adress {
  width: 100%;
  margin: 0 0 40px; }
  @media (min-width: 993px) {
    .contact-adress {
      float: right;
      width: 165px;
      margin: 0; } }

.contact-map-container {
  position: relative;
  float: left;
  width: 100%; }
  @media (min-width: 766px) {
    .contact-map-container {
      display: inline-block;
      float: right;
      margin-top: 40px;
      width: 46%;
      margin: 30px 0% 40px 3%; } }

/* SVG HASTLE */
.svg-contact-map {
  width: 100%;
  display: block;
  float: right; }
  @media (max-width: 993px) {
    .svg-contact-map {
      max-height: 450px; } }
  @media (min-width: 993px) {
    .svg-contact-map {
      min-height: 450px; } }
  @media (min-width: 768px) {
    .svg-contact-map #office {
      display: none;
      float: right; } }

.svg .svg-contact-map-fallback {
  display: none; }
  @media (min-width: 767px) and (max-width: 992px) {
    .svg .svg-contact-map-fallback {
      display: block; } }

.no-svg .svg-contact-map-fallback {
  display: block;
  width: 100%;
  height: auto; }

.no-svg .svg-contact-map-fallback img {
  display: block;
  float: left;
  width: 100%; }

.svg-map-marker {
  position: absolute;
  width: 50px;
  height: 80px;
  left: 34%;
  bottom: 44%;
  opacity: .9;
  -webkit-transition: all 0.15s ease-out;
          transition: all 0.15s ease-out;
  display: none; }
  .svg-map-marker.loaded {
    bottom: 46%;
    opacity: 1;
    -webkit-transition: all 0.15s ease-in;
            transition: all 0.15s ease-in; }
  @media (min-width: 768px) {
    .svg-map-marker {
      display: block; } }

/* Remove svg map frmo tablets */
@media (min-width: 768px) and (max-width: 992px) {
  .svg-contact-map-fallback {
    width: 100%;
    height: auto;
    display: block; }
  .svg-map-marker,
  .svg-contact-map {
    display: none; } }

.social-media, .social-media-centered {
  display: block;
  width: 100%; }

.social-media-centered {
  text-align: center;
  border-top: 1px solid #ccc;
  padding-top: 25px;
  margin: 40px 0 40px;
  float: left; }
  .social-media-centered li {
    display: inline-block; }

.social-media-centered a {
  display: inline-block;
  width: 44px;
  height: 44px;
  margin: 0 2px;
  opacity: 1;
  -webkit-transition: all 0.7s ease-in;
          transition: all 0.7s ease-in;
  fill: white;
  float: left; }
  @media (min-width: 992px) {
    .social-media-centered a {
      margin: 0 12px; } }
  .social-media-centered a:hover {
    opacity: 0.8;
    -webkit-transition: all 0.15s ease-in;
            transition: all 0.15s ease-in;
    fill: #72BC49; }
  .social-media-centered a img {
    width: 100%;
    height: 100%;
    display: none; }

.social-media-centered a svg {
  position: relative;
  top: 18%; }

.no-svg .social-media-centered a img {
  display: block; }

.nav-social {
  display: none;
  background: #72BC49;
  color: white;
  text-align: left;
  bottom: 65px;
  position: fixed;
  right: 0;
  z-index: 510;
  width: auto; }
  .nav-social.toggled {
    display: block; }

.svg-mail {
  width: 30px; }

.svg-instagram {
  width: 29px; }

.svg-twitter {
  width: 33px; }

.svg-linkedin {
  width: 27px;
  top: 23%; }

.svg-facebook {
  width: 12px; }

/* Genereal / specific stuff  */
.button-ghost, .button-ghost-cta, .button-filter, input[type=submit] {
  outline: none;
  cursor: pointer;
  box-shadow: none;
  box-shadow: none;
  display: inline-block;
  border: none;
  text-decoration: none; }

.button-ghost, .button-ghost-cta {
  padding: 0 20px;
  border: 1px solid white;
  color: white;
  line-height: 2.5;
  min-height: 2.5em;
  font-size: 1em;
  border-radius: 3px; }
  .button-ghost:hover, .button-ghost-cta:hover {
    color: #00A99D;
    border: 1px solid #00A99D; }

.button-ghost-cta {
  border: 1px solid #1a1a1a;
  color: #1a1a1a; }
  .button-ghost-cta:hover {
    color: #00A99D;
    border-color: #00A99D; }

.button-filter {
  line-height: 50px;
  height: 50px;
  font-size: 1em;
  margin: 0;
  padding-left: 45px;
  background: url("../img/postfilter/arrow-down-black.svg") 20px center no-repeat;
  background-size: 16px 16px; }
  @media (min-width: 768px) {
    .button-filter {
      width: 80%; } }

.button-filter-close {
  position: absolute;
  top: 0px;
  right: 0px;
  display: block;
  width: 44px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  background: url("../img/png-icons/close-black.png") center center no-repeat;
  background-size: 20px 20px;
  text-index: -999px; }

.no-svg .button-filter-close {
  background: url("../img/png-icons/close-black-black.png") center center no-repeat;
  background-size: 20px 20px; }

.button-cta-container,
.business-cta-container {
  text-align: center;
  display: block;
  clear: both;
  margin-bottom: 40px; }

.istone-tooltip {
  position: absolute;
  display: none;
  width: 270px;
  padding: 10px 50px 10px 25px;
  background: #666;
  color: white;
  font: 300 0.875em/1.5 "Press Start 2P", sans-serif;
  margin: 0;
  z-index: 490;
  border-radius: 5px;
  right: 90px;
  bottom: 65px;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
  z-index: 1; }
  @media (max-width: 767px) {
    .istone-tooltip {
      display: none;
      z-index: -9999;
      left: -9999px; } }
  .istone-tooltip a {
    color: inherit;
    text-decoration: underline; }
    .istone-tooltip a:hover {
      color: #72BC49; }
  .istone-tooltip:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 100%;
    right: 80px;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 10px solid #666; }
  .istone-tooltip.toggled {
    display: block;
    bottom: 55px;
    padding: 30px 50px 30px 25px;
    opacity: 1;
    z-index: 522;
    -webkit-transition: all 0.3s ease-out;
            transition: all 0.3s ease-out; }

.nav-istone:hover + .istone-tooltip {
  display: block; }

.lt-ie9 .is-frontpage .istone-tooltip {
  position: fixed;
  left: auto;
  right: auto;
  top: auto;
  bottom: auto;
  width: auto;
  margin: 10px 5%;
  float: left;
  opacity: 1;
  left: 0;
  right: 0;
  bottom: 0; }

.lt-ie9 .istone-tooltip {
  display: none;
  opacity: 0;
  left: -9999; }

.istone-tooltip-close {
  border: none;
  background: none;
  box-shadow: none;
  position: absolute;
  top: 0;
  right: 0;
  height: 44px;
  width: 44px;
  display: block;
  background: transparent;
  cursor: pointer;
  outline: none; }
  .istone-tooltip-close svg {
    position: absolute;
    top: 5px;
    right: 5px;
    height: 35px;
    width: 20px;
    display: block; }

.no-svg .istone-tooltip-close {
  background: url("../img/png-icons/close.png") center center no-repeat;
  background-size: 44px; }

.fullscreen-section.post-header {
  overflow: hidden;
  position: relative; }

.fullscreen-section {
  position: relative; }

.fullscreen-section-content {
  position: absolute;
  bottom: 0px;
  color: white;
  width: 100%; }
  .fullscreen-section-content a {
    color: inherit; }

.post-header.fullscreen-section {
  background-position: center center;
  background-repeat: no-repeat; }
  @media (max-width: 600px) {
    .post-header.fullscreen-section {
      background-size: auto 100%; } }
  @media (min-width: 993px) {
    .post-header.fullscreen-section {
      background-size: cover; } }

.people h1 {
  margin-top: 3em;
  margin-bottom: 60px; }

.persona {
  display: block;
  width: 50%;
  float: left;
  margin: 0;
  padding: 0 1%;
  margin-bottom: 15px;
  position: relative;
  box-sizing: border-box; }
  @media (min-width: 768px) {
    .persona {
      display: inline;
      width: 25%;
      padding: 0 1%; } }
  .persona img {
    width: 100%;
    height: auto; }

.info {
  height: 80px;
  display: block;
  clear: both;
  margin: 0; }

.persona-title,
.persona-name,
.persona-info {
  margin: 0; }

.persona-name {
  font: bold 1em/1.5 "Press Start 2P", sans-serif; }

.persona-title {
  font-size: 24px;
  line-height: 1.2; }

.persona-info p, .persona-info h2, .persona-info h3, .persona-info h4, .persona-info span {
  margin: 0; }

.people-intro-block {
  background: #1a1a1a;
  color: white;
  overflow: hidden;
  width: 100%;
  float: left; }
  @media (min-width: 768px) {
    .people-intro-block {
      text-align: center; } }

.people-intro-block h1 {
  margin: 1.5em auto;
  display: block;
  max-width: 760px;
  width: 90%; }
  @media (min-width: 768px) {
    .people-intro-block h1 {
      width: 80%; } }

.people-contact-block {
  display: block;
  width: 100%;
  position: relative;
  text-align: center;
  margin-bottom: 4em; }
  .people-contact-block a:hover {
    color: #72BC49; }
  .people-contact-block.black {
    background: #1a1a1a;
    color: white; }
  @media (max-width: 767px) {
    .people-contact-block {
      max-width: 80%;
      margin: 0 10% 70px; }
      .people-contact-block br {
        display: none; } }

.people-contact-heading {
  margin: 0;
  font-size: 5em;
  line-height: 250px;
  height: 300px;
  display: block;
  text-align: center; }
  @media (min-width: 768px) {
    .people-contact-heading {
      font-size: 7em;
      line-height: 300px;
      height: 330px; } }
  @media (min-width: 1600px) {
    .people-contact-heading {
      line-height: 300px;
      height: 320px; } }

.people-centered-content {
  display: block;
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 25%; }
  @media (min-width: 768px) {
    .people-centered-content {
      bottom: 22%; } }
  @media (min-width: 1600px) {
    .people-centered-content {
      bottom: 20%; } }

.js-people-container {
  margin-bottom: -10px;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  height: auto; }

.js-people-scroll {
  width: 100%;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  white-space: nowrap; }
  @media (min-width: 768px) {
    .js-people-scroll {
      overflow-x: scroll; } }

#overlay {
  z-index: 100;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in;
          transition: all 0.2s ease-in;
  display: none; }
  #overlay img {
    width: 100%;
    height: 100%;
    opacity: 0.5; }
  #overlay.loaded, #overlay.toggled {
    display: block; }
  #overlay.white {
    background: rgba(255, 255, 255, 0.3); }
  #overlay.green {
    background: rgba(114, 188, 73, 0.3); }
  #overlay.black {
    background: rgba(0, 0, 0, 0.3); }

canvas#blurOverlay {
  width: 100%;
  height: 100%; }

.startpage-promotion {
  position: absolute;
  bottom: 170px;
  width: 100%;
  color: white;
  -webkit-transition: all .3s ease-in;
          transition: all .3s ease-in; }
  .startpage-promotion a {
    color: inherit; }
    .startpage-promotion a:hover {
      color: #00A99D;
      -webkit-transition: all 0.1s ease-in;
              transition: all 0.1s ease-in; }

.startpage-promotion .promotion-title {
  margin: 0 0 10px; }

.promotion, .promotion-white {
  position: relative; }

.promotion-white {
  color: white; }

.promotion-content {
  position: absolute;
  bottom: 170px;
  width: 100%; }

.promotion-title {
  max-width: 650px;
  margin-top: 1em; }

.promotion-title-sub {
  display: block;
  font-size: 0.5em;
  line-height: 32px; }
  @media (min-width: 500px) {
    .promotion-title-sub {
      display: inline; } }

.promotion-title a .promotion-title-sub {
  text-decoration: underline; }

.cookie-message {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 65px;
  text-align: center;
  background: #1a1a1a;
  color: white;
  width: 100%;
  padding: 0 5px;
  z-index: 500 -10; }
  .cookie-message.toggled {
    display: block; }

.cookie-message-container {
  font-size: 1em;
  line-height: 32px;
  padding: 15px 0; }

.cookie-message-toggler {
  outline: none;
  cursor: pointer;
  background: none;
  box-shadow: none;
  padding: 0;
  font: 300 1em/32px "Press Start 2P", sans-serif;
  border: none;
  color: inherit;
  text-decoration: underline;
  display: inline; }

.page-template-page-contact .cookie-message {
  bottom: 0;
  color: #1a1a1a;
  background: #72BC49; }

.messagebubble {
  display: inline-block;
  width: auto;
  padding: 10px;
  border-radius: 5px;
  position: relative;
  margin-bottom: 20px; }
  .messagebubble:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 100%;
    right: 45%;
    left: 45%;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent; }

.people-talent-form {
  display: block;
  max-width: 300px;
  width: 80%;
  margin: auto; }

input[type=text],
input[type=email] {
  padding: 0;
  margin: 0 0 20px;
  font: normal 1em/36px "Press Start 2P", sans-serif;
  height: 36px;
  display: block;
  width: 100%;
  float: left;
  clear: both;
  color: white;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  outline: none;
  background: rgba(255, 255, 255, 0.01); }
  input[type=text]:active, input[type=text]:focused,
  input[type=email]:active,
  input[type=email]:focused {
    -webkit-transition: all 0.15s ease-in;
            transition: all 0.15s ease-in;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    background: rgba(255, 255, 255, 0.9);
    color: #1a1a1a; }

input[type=submit] {
  background: none;
  border: none;
  box-shadow: none;
  display: block;
  width: 100%;
  background: transparent;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.5);
  font: normal 1em/40px "Press Start 2P", sans-serif;
  height: 40px;
  padding: 0 5%;
  margin: 0 0 20px;
  -webkit-transition: all 0.15s ease-in;
          transition: all 0.15s ease-in; }
  input[type=submit]:hover {
    -webkit-transition: all 0.15s ease-in;
            transition: all 0.15s ease-in;
    background: white;
    color: #1a1a1a; }

/* 
	IE
*/
/* IE stuff
	header non absolute;
*/
.lt-ie9 html {
  padding-bottom: 0; }

.lt-ie9 .post-list img {
  max-height: auto;
  height: auto;
  width: 100%; }

html {
  padding-bottom: 0; }

body, html, .summer2015 {
  background: lightblue;
  font: 1em/1.5 "Press Start 2P", sans-serif;
  color: white; }

.summer2015 .header-bottom-bar {
  background: darkgreen;
  color: darkgreen; }

.ground {
  position: fixed;
  height: 65px;
  bottom: 65px;
  left: 0;
  right: 0;
  background: green; }

html, body {
  min-height: 100%; }

.summer {
  position: relative;
  min-height: 100%;
  width: 100%;
  display: block;
  float: left; }

.skater, .runner {
  width: 120px;
  height: 160px;
  position: fixed;
  left: 80px;
  bottom: 130px;
  background-size: 100% auto;
  cursor: pointer; }

@-webkit-keyframes character {
  from {
    background: url("../img/summer2015/def1.png") bottom left no-repeat;
    background-size: 100%; }
  to {
    background: url("../img/summer2015/def2.png") bottom left no-repeat;
    background-size: 100%; } }

@keyframes character {
  from {
    background: url("../img/summer2015/def1.png") bottom left no-repeat;
    background-size: 100%; }
  to {
    background: url("../img/summer2015/def2.png") bottom left no-repeat;
    background-size: 100%; } }

@-webkit-keyframes characterHoverBottom {
  from {
    bottom: 128px; }
  to {
    bottom: 128px; } }

@keyframes characterHoverBottom {
  from {
    bottom: 128px; }
  to {
    bottom: 128px; } }

@-webkit-keyframes characterHoverLeft {
  from {
    left: 75px; }
  to {
    left: 80px -5; } }

@keyframes characterHoverLeft {
  from {
    left: 75px; }
  to {
    left: 80px -5; } }

@-webkit-keyframes characterEnter {
  from {
    left: -250px; }
  to {
    left: 80px; } }

@keyframes characterEnter {
  from {
    left: -250px; }
  to {
    left: 80px; } }

@-webkit-keyframes characterJumping {
  from {
    bottom: 130px; }
  to {
    bottom: 290px; } }

@keyframes characterJumping {
  from {
    bottom: 130px; }
  to {
    bottom: 290px; } }

.skater {
  background: url("../img/summer2015/def1.png") bottom left no-repeat;
  -webkit-animation: character 0.2s infinite, characterHoverLeft 0.5s ease-in-out 0.8s alternate infinite;
          animation: character 0.2s infinite, characterHoverLeft 0.5s ease-in-out 0.8s alternate infinite; }
  .skater.enter {
    -webkit-animation: character 0.2s infinite, characterEnter 0.8s ease-out, characterHoverLeft 0.5s ease-in-out 0.8s alternate infinite;
            animation: character 0.2s infinite, characterEnter 0.8s ease-out, characterHoverLeft 0.5s ease-in-out 0.8s alternate infinite; }

.skater.jumping {
  -webkit-animation: characterJumping 0.25s alternate infinite, characterHoverLeft .5s .4s alternate infinite;
          animation: characterJumping 0.25s alternate infinite, characterHoverLeft .5s .4s alternate infinite;
  background: url("../img/summer2015/def3.png") bottom left no-repeat;
  background-size: 100%; }

.runner {
  width: 100px;
  height: 146px;
  background-size: auto 100%;
  background: url("../img/summer2015/wal1.png") bottom left no-repeat;
  -webkit-animation: character2 0.3s alternate infinite, characterHoverLeft 0.5s ease-in-out 0.8s alternate infinite;
          animation: character2 0.3s alternate infinite, characterHoverLeft 0.5s ease-in-out 0.8s alternate infinite; }
  .runner.enter {
    -webkit-animation: character2 0.2s infinite, characterEnter 0.8s ease-out, characterHoverLeft 0.5s ease-in-out 0.8s alternate infinite;
            animation: character2 0.2s infinite, characterEnter 0.8s ease-out, characterHoverLeft 0.5s ease-in-out 0.8s alternate infinite; }

.runner.jumping {
  -webkit-animation: characterJumping 0.25s alternate infinite, characterHoverLeft .5s .4s alternate infinite;
          animation: characterJumping 0.25s alternate infinite, characterHoverLeft .5s .4s alternate infinite;
  background: url("../img/summer2015/wal4.png") bottom left no-repeat;
  background-size: 100%;
  width: 90px;
  height: 166px; }

@-webkit-keyframes character2 {
  0% {
    background: url("../img/summer2015/wal1.png") bottom left no-repeat;
    background-size: auto 100%; }
  100% {
    background: url("../img/summer2015/wal3.png") bottom left no-repeat;
    background-size: auto 100%; } }

@keyframes character2 {
  0% {
    background: url("../img/summer2015/wal1.png") bottom left no-repeat;
    background-size: auto 100%; }
  100% {
    background: url("../img/summer2015/wal3.png") bottom left no-repeat;
    background-size: auto 100%; } }
/*# sourceMappingURL=summer2015.css.map */