html, body {
	min-height: 100%;
}

body {
	background: $body-background;
	color: $body-color;
	margin: 0;
}

.page-template-page-business {
	::selection {
		background: $turqois;
		color: white;
	}
}

::selection {
	background: $pink;
	color: white;
}

.logo {
	position: absolute;
	left:10%;
	top:5%;
	z-index: 100000;
	width: 135px;
}

a {
	text-decoration:underline;
	color: inherit;
	transition: all 0.25s ease-in;
	&:hover {
		color: $link-color;
		transition: all 0.1s ease-in;
	}
}

.clearfix:after {
  content:"";
  display:block;
  clear:both;
}

a img {
	border: none;
	display: block;
}

img {
	max-width: 100%;
	height: auto;
}

.container {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	display: block;
	clear: both;

	@media (min-width: 1139px) {
		max-width: 1140px;
	}
}

.text-center {
	text-align: center;
}

.relative {
	position: relative;
}

.hidden {
	display: none;
	visibility: hidden;
}

.skip {
	position: absolute;
	top: -30000px;
	left: -30000px;
}

.error404 .space-top {
	padding-top: 15%;
}
