


/* 1 col --> 2 columns */
.column2 {
	width: 100%;
	display: block;
	float: left;
	margin-bottom: $global-margin+10;

	@media (min-width: 768px) {
		width: 48%;
		display: inline-block;
		padding-right: 2%;
	}
}

/* 1 column content -> 2 -->> 4  */ 
.column4 {
	width: 100%;
	display: inline-block;
	float: left;
	margin: 0 0 $global-margin;

	@media (min-width: 400px) and (max-width: 767px) {
		width: 49%;
		padding-left: 1%;
		&:nth-child(2n+1) {
			clear: left;
			padding-left: 0;
		}
	}

	@media (min-width: 768px) {
		width: 23%;
		padding-right: 2%;

		&:nth-child(4n) {
			width: 25%;
			padding-right: 0;
		}
	}
}