
header,nav,article,aside,footer,section {
	display:block;
}

form {
	margin:0;
}
fieldset {
	margin:0;
	padding:0;
	border:0;
}
figure {
	margin: 0;
}
.image-align-right {
	float:right;
	margin:0 0 10px 20px;
}
.image-align-left {
	float:left;
	margin:0 20px 10px 0;
}
ul,ol {
	margin:0;
	padding:0;
	list-style-type:none;
}
dl {
	font-size: 1.4em;	
}
dd,dt {
	margin: 0 0 3px;
	float: left;
	width: 50%;
}
dt {
	font-weight: bold;
}
.clearFix:after {
content: ".";
display: block;
height: 0;
clear: both;
visibility: hidden;
}