@font-face {
    font-family: Jenna;
    src: url('../fonts/JennaSue/JennaSue.ttf');
    font-weight: normal;
}

@font-face {
    font-family: Neuzeit;
    src: url('../fonts/Neuzeit/NeuzeitSLTStd-Book.otf') format('opentype');
    font-weight: normal;
}

@font-face {
    font-family: NeuzeitHeavy;
    src: url('../fonts/Neuzeit/NeuzeitSLTStd-BookHeavy 2.otf') format('opentype');
    font-weight: bold;
}

body {
    font: 300 17px/24px $body-font;
    font: 300 1.06025em/1.5 $body-font;

    @media (max-width: 400px) and (max-width: 700px) {
        font: 300 0.9em/1.4 $body-font;
    }
}


p {
    font-size: 17px;
    line-height: 24px;
	margin:0 0 $global-margin;

    &:last-child {
        margin-bottom: 0;
    }

    a {
        text-decoration: underline;
        color: inherit;
    }
}

sub, sup { line-height: 0; }

.page-title {
	margin-top: 3em;
}

h1, .h1 {
	margin: 2em 0 $global-margin+10;
    font: bold 3em/0.8 $title-font;

    @media (max-width: 768px) and (max-height: 640px) {
        font: bold 2.2em/0.8 $title-font;
		margin-top: 3em;
    }
}

#contact h1 {
    margin-bottom: 30px;
    margin-top: 70px;
}

#contact p {
    margin-bottom: 24px;
}

#contact a:hover {
    color: $green;
}



.post-single .post-title {
    margin: 2em 0 $global-margin;
}

.post-single .post-header .post-title {
    margin: 0 0 10px;
}

h2, .h2 {
	margin: 0;
    font: normal 1.5em/1.5 $title-font;
}
h3 {
	margin:0;
    font: normal 1.2em/1.5 $title-font;
}
h4, .h4 {
	margin:0;
    font: bold 1.2em/1.2 $title-font;
}

h1,h2,h3,h4,h5 {
    a { color: black; text-decoration: none;  }
}

blockquote,
blockquote p,
blockquote p:last-child {
	@extend .h1 !optional;
	font: 300 42px/1 $body-font;
	margin: 15px 0 40px;
	text-align: center;
	display: block;
	clear: both;
}

/*
h1, h2, h3 {
    br {
        display: none;
        @media (min-width: 768px) {
            display: block;
        }
} */

sup,
h1 sup {
    font-size: 0.25em;
    top: -10px;
    position: relative;
}
