// colors
$black: #1a1a1a;
$grey: #999999;
$lightgrey: #ccc;
$silver: #f2f2f2;
$green: #72BC49;  // lighter green
$brightgreen: #669900; // even brighter than green
$turqois: #00b1af;
$blue: #3fa9f5;
$nav-blue: #00A99D;

$pink: #ee589f;
$pink-bubble-background: rgba($pink, 0.5);
$healthpicker-background: rgba($pink, 0.15);


// theme colors
$link-color:  $nav-blue;
$body-color: $black;
$body-background: $silver;

// heights
$header-height: 65px;
$nav-height: 65px;

$global-margin: 40px;


// fonts
$body-font: "Neuzeit", Helvetica, sans-serif;
$title-font: "NeuzeitHeavy", Helvetica, sans-serif;
