

$high: 100;
$higher: 300;
$highest: 500;




$z-index-overlay: $high;
$z-index-panel: $higher;


/* need to be lower than nav for 
	tooltip to be over it */
$z-index-cookie: $highest -10; 
$z-index-tooltip: $highest +20;
$z-index-nav: $highest;

$z-index-sticky-button: $high;

