
$nav-contact-color: $pink;

.header .nav-contact-toggler {
	border: none;
	background: $nav-contact-color;
	color: white;
	box-shadow: 0;
	outline: none;
	cursor: pointer;
	width: 80px;
	height: 65px;
	position: absolute;
	right: 0;
	bottom: 0;
	color: white;
	fill: white;
	text-decoration: none;
	
	z-index: $z-index-nav+10;
	line-height: $nav-height;
	font-size: 14px;
	text-align: center;
	transition: all 0.15s ease-in;


	&:hover {
		background: darken($nav-contact-color, 15%);
		color: white;
	}

	&:focus {
		color: white;
	}

	&.toggled,	&:active {
		background: $black;
		color: white;
		fill: white;
		transition: all 0.4s ease-in;
	}
}


.no-svg .header .nav-contact-toggler {
	background: url('../img/png-icons/contact.png') center center no-repeat $pink;
}

.no-svg .header .nav-contact-toggler.toggled {
	background: url('../img/png-icons/close.png') center center no-repeat $black !important;
}

.header-top-bar .nav-contact-toggler {
	bottom: auto;
	top: 0;
}

.svg-contact {
	top: 8px;
}

.svg-close {
	top: 15px;
}

.svg-contact, .svg-close {
	position: absolute;
	left: 29%;
	width: 32px;
	height: 40px;
	fill: white;
	transition: all 0.3s ease-in;
}

.nav-contact-toggler.toggled .svg-close {
	opacity: 1;
	transition: all 0.15s ease-in;
}

.nav-contact-toggler.toggled .svg-contact,
.nav-contact-toggler .svg-close,
.nav-contact-toggler.toggled .icon-text { 
	opacity: 0;
	transition: all 0.15s ease-in;
}

.icon-text {
	position: absolute;
	bottom: 0;
	width: 100%;
	display: block;
	height: 22px;
	line-height: 22px;
	font-size: 11px;
	text-align: center;
	font-weight: 100;
}
