

.header-top-bar {
	position: fixed;
	top: 0;
	left: 0; right: 0;
	width: 100%;
	background: white;
	background: rgba(255,255,255,0.9);
	z-index: $z-index-nav;
	line-height: $nav-height;
	height: $nav-height;
}

.header-bottom-bar {
	position: fixed;
	bottom: 0;
	left: 0; right: 0;
	width: 100%;
	background: white;
	background: rgba(255,255,255,0.9);
	z-index: $z-index-nav;
	line-height: $nav-height;
	height: $nav-height;

	@media (max-width: 767px) {
		.container {
			width: 100%;
		}
	}
}


.lt-ie9 {
	.header {
		width: 100%;
		clear: both;
	}

	.header-bottom-bar {
		width: 100%;
		clear: both;
	}

	.header-nav-contact-toggler {
		display: inline-block;
		position: static;
	}

}

// logo i botten
.nav-svg-magiclogo {
	width: 80px;
	height: 34px;
	height: auto;
	position: relative;
	top: 15px;	
}

.header-bottom-bar .nav-svg-magiclogo {
	@media (min-width: 768px) {
		opacity: 0;
	}
}

.header-link-home {
	display: block;
	float: left;
	img {
		width: 30px;
		height: 30px;
		padding: 12px;
		margin: 0;
		position: relative;
		top: 4px;

		@media (min-width: 768px) { display: none; }
	}
	@media (max-width: 767px) {
		.nav-svg-magiclogo {display: none;}
	}
	

	@media (min-width: 768px){
		display: inline-block;
	}
}

/* Added text for screen readers, hidden with this */ 
.header-link-home-text {
	text-indent: -99999px;
	position: relative;
	float: left;
	display: block;
}

.no-svg .header-link-home {
	background: url('../img/magiclogoblack.png') center center no-repeat;
	width: 80px;
	height: auto;
}

/* Adds some annoying bug the the social nav in safari.. */
.header-bottom-bar a {
	color: $black;
	fill: $black;  // to make svg transition nicely
	transition: all 0.3s ease-in;
	
	&:hover, &:active, &:focus {
		fill: $green;
		color: $green;
		transition: all 0.15s ease-in;
	}
}