
.header-logo {
	width: 95px;
	height: 60px;
	position: fixed;
	top: 25px;
	left: 40px;
	z-index: 10000;
}

.lt-ie9 .header-logo {
	height: auto;
	float: left;
	clear: both;
	display: block;
	margin: 15px 0 5px;
}

.no-svg .header-logo-img,
.lt-ie9 .header-logo-img {
	width: 120px;
	display: block;
	top: 10px;
}

.header-logo-img-white { display: none; }

.is-frontpage,
.single-post,
.page-template-page-contact {
	.header-svg-magiclogo { fill: white; }
	.header-logo-img-black { display: none; }
	.header-logo-img-white { display: block; }
}

$header-bar-animate-speed: 0.25s;

[data-hook="animate-on-scroll"] {
	@media (min-width: 768px) {
		position: relative;
		left: -90px;
		transition: all $header-bar-animate-speed ease-in;

		.nav-svg-magiclogo {
			opacity: 0;
			transition: all $header-bar-animate-speed ease-in;
		}

		&.toggled {
			left: 0;
			transition: all $header-bar-animate-speed ease-out;

			.nav-svg-magiclogo {
				opacity: 1;
				transition: all $header-bar-animate-speed ease-out;
			}
		}
	}
}
