/* Change this to watch in slo-mo */
$transition-duration: .5s;

$size : 100%;
$toggled-size : .75;

$pagebg : #fff;

.navicon-button {
  display: inline-block;
  transition: $transition-duration/2;
  cursor: pointer;
  user-select: none;
  opacity: 1;
  border: none;
  box-shadow: none;
  outline: none;

  &:active, &:focus {
	  outline: none;
  }

  .navicon:before, .navicon:after {
    transition: $transition-duration/2;
  }

  &:hover {
    transition: $transition-duration;
    opacity: 1;

    .navicon:before, .navicon:after {
      transition: $transition-duration/2;
    }

    .navicon:after { top: -.825rem; }
    .navicon:before { top: .825rem; }
  }
}

$nw: 30px;
$nh: 2.5px;

.navicon {
  position: relative;
  display: block;
  width: $nw;
  height: $nh;
  background: $pagebg;
  transition: $transition-duration;
  // well see if we keep folloing 2 lines
  top: 1px;
  left: 2px;
  left: calc(50% - #{$nw} / 2);

  &:after, &:before {
    display: block;
    content: "";
    height: $nh;
    width: $nw;
    background: $pagebg;
    position: absolute;
    z-index: -1;
    transition: $transition-duration ($transition-duration/2);
    border-radius: 1rem;
  }

  &:after { top: -9px; }
  &:before { top: 9px; }
}

.ios .navicon {
	left: -3px;
}

.open:not(.steps) .navicon:before,
.open:not(.steps) .navicon:after {
  top: 0 !important;
}

.open .navicon:before,
.open .navicon:after {
  transition: $transition-duration;
}

.open.x {
  .navicon {
    background: transparent;

    &:after { transform: rotate(45deg); }
    &:before { transform: rotate(-45deg); }
  }
}
