
// header logo 10k

.fullscreen-nav {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	z-index: 9000;
	background: rgba($nav-blue, 0.9);
	color: white;
}

.fullscreen-nav a {
	color: white;

	&:hover {
		// animation/transition suxx with this one..
		opacity: 0.2;
		transition: all 0.15s ease-in;
	}
}

.fullscreen-nav-container {
	min-height: 100%;
	height: 100%;
	position: relative;
	float: left;
	width: 100%;
}

.fullscreen-nav-toggler {
	position: fixed; // argh...
	right: 40px;
	top: 20px;
	z-index: 9010;
	background: $nav-blue;
	width: 50px; height: 50px;
	border-radius: 25px;
	cursor: pointer;

	&.open {
		background: transparent;
	}
}

// mobile first
.navigation {
	text-align: center;
	display: block;
	margin: 0;
	position: relative;
	top: 140px;
	left: 50%;
	transform: translate(-50%, -15%);

	@media (min-height: 590px) {
		top: 190px;
	}

	@media (min-width: 768px) {
		top: 50%;
		transform: translate(-50%, -50%);
	}
}

.menu-item a {
	font: 700 3.65em/1 $title-font;
	font: 700 8vh/1 $title-font;
	text-decoration: none;
	transition: all 0.4s ease-out;
	color: white;
	&:hover {
		// animation/transition suxx with this one..
		text-decoration: line-through;
		opacity: 0.2;
		transition: all 0.15s ease-in;
	}

	@media (min-width: 768px) {
		font: 700 11vh/1 $title-font;
	}
}

.current-menu-item a {
	color: black;
}

/////////// END OF NAV

.fullscreen-nav-container .contact-actions {
	border-top: 1px solid rgba(white, 0.2);
	border-bottom: 1px solid rgba(white, 0.2);
	position: fixed;
	bottom: 80px;
}

.contact-actions {
	display: block;
	float: left;
	clear: both;
	width: 100%;
	text-align: center;


	@media (min-width: 992px) {
		max-height: 80px;
	}
}

.contact-actions-container,
.contact-social {
	display: block;
	clear: both;

	@media (min-width: 768px) {
		text-align: left;
		clear: none;
		display: inline-block;
	}

	@media (min-width: 992px) {
		clear: right;

 	}
}

.contact-actions-container a {
	display: block;

	@media (min-width: 480px) {
		display: inline-block;
	}
}

.contact-social-heading,
.contact-actions a {
	font: 800 1.625em/1 $body-font;
	text-decoration: none;
	color: white;
	line-height: 80px;
}

.contact-actions a {
	text-decoration: none;
	color: white;
	margin: 0 8px;
	padding: 0;
	line-height: 80px;

	&:hover {
		text-decoration: line-through; // hmmmmmmm
		// animation/transition suxx with this one..
		opacity: 0.2;
		transition: all 0.15s ease-in;
	}

	span {
		float: left;
		display: inline-block;
		margin-right: 10px;
		position: relative;
		top: 15px;
	}
}


.contact-social-heading {
	margin-left: 25px;
	margin-right: 10px;
	clear: both;
	display: block;

	@media (min-width: 768px) {
		display: inline-block;
		clear: none;
	}
}


.contact-social img {
	height: 44px;

	@media (min-wid: 768px) {
		position: relative;
		top: 16px;
	}
}

.contact-social a {
	display: inline-block;
}


.fullscreen-nav-container svg {
	fill: white;
}



.nav-etc {
	display: block;
	float: left;
	clear: both;
	text-align: center;
	line-height: 80px;
	height: 80px;
	width: 100%;

	position: fixed;
	bottom: 0;

	a {
		margin: 0 5px;
	}
}


// TODO should have this in some JS lala, or nav toggle
// BOdY

.fullscreen-nav {
	transform: scale(0.4);
	transition: all 400ms ease-in;
	opacity: 0;
	pointer-events: none;
}

.js-nav-visible {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: fixed;

	.fullscreen-nav {
		display: block;
		opacity: 1;
		transform: scale(1);
		transition: all 120ms ease-out;
		pointer-events: auto;
	}

	.logo-header {
		position: fixed;
	}

	.header-logo-img-black {
		display: none;
	}

	.header-logo-img-white {
		display: block;
	}
}


// TODO should extract this to ICON or mixin or smthn

@mixin icon($img) {
	background: url('../img/icons/icon-#{$img}.png') center center no-repeat;
	background-size: auto 100%; // is it even X,Y
	height: 44px;
}

.icon-text {
	@include icon(text);
	width: 50px;
}

.icon-phone {
	@include icon(phone);
	width: 40px;
}

.icon-pin {
	@include icon(pin);
	width: 34px;
}
